<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tracom.brt.domain.BM0606.BM0606Mapper">

	<select id="BM0606G0S0" resultType="VdoOrgaVO">
		SELECT
			  ORGA.ORGA_ID
			, ORGA.ORGA_NM
			, ORGA.REMARK
		    , COUNT(INFO.VDO_ID) AS VDO_CNT
		    , SUM(INFO.PLAY_TM) AS TT_TIME
		FROM
			BM_VDO_ORGA ORGA
		    LEFT JOIN BM_VDO_ORGA_LIST OLIST
		    ON ORGA.ORGA_ID = OLIST.ORGA_ID
		    
			LEFT JOIN BM_VDO_INFO INFO
		    ON OLIST.VDO_ID = INFO.VDO_ID
		    
		    GROUP BY ORGA_ID
		    
		    <if test="value != null">
	    		HAVING
	    			ORGA_ID LIKE CONCAT('%', #{filter}, '%')
	    		OR	ORGA_NM LIKE CONCAT('%', #{filter}, '%')
    		</if>
    		
    		ORDER BY ORGA_ID
	</select>
	
	<insert id="BM0606F0I0" parameterType="VdoOrgaVO">
		<selectKey keyProperty="orgaId" resultType="String" order="BEFORE">
    		SELECT CONCAT('VG', LPAD(NEXTVAL(SEQ_BM_VDO_ORGA_0), 5, '0'))
    	</selectKey>
    
    	INSERT INTO BM_VDO_ORGA(
    		  ORGA_ID
    		, ORGA_NM
    		, REMARK
    		, ROUT_ID
    		)
   		VALUES(
   			  #{orgaId}
   			, #{orgaNm}
   			, #{remark}
   			, NULL
   			)
	</insert>
	
	<delete id="BM0606G2D0" parameterType="VdoOrgaVO">
		DELETE FROM
			BM_VDO_ORGA_LIST
		WHERE
			 ORGA_ID = #{orgaId}
	</delete>
	
	<update id="BM0606F0U0" parameterType="VdoOrgaVO">
		UPDATE BM_VDO_ORGA
    	SET
    		  ORGA_NM		=	#{orgaNm}
    		, REMARK		=	#{remark}
    		, ROUT_ID		=	#{routId}
    		, CREATED_AT	=	#{createdAt}
    		, CREATED_BY	=	#{createdBy}
    		, UPDATED_AT	=	#{updatedAt}
    		, UPDATED_BY	=	#{updatedBy}
    	WHERE
    		ORGA_ID = #{orgaId}
	</update>
	
	<insert id="BM0606G2I0" parameterType="VdoOrgaVO">
		INSERT INTO BM_VDO_ORGA_LIST(
			  ORGA_ID
			, VDO_ID
			, SEQ
			)
		VALUES
			<foreach collection="playList" item="voList" separator=",">
				( #{orgaId}
				, #{voList.vdoId}
		        , #{voList.__index}
		        )
			</foreach>
	</insert>
	<select id="BM0606G2S0" parameterType="VdoOrgaVO" resultType="VideoInfoVO">
		SELECT
			  OLIST.ORGA_ID		AS ORGA_ID
			, OLIST.VDO_ID		AS VDO_ID
		    , OLIST.SEQ			AS SEQ
		    , INFO.VDO_NM		AS VDO_NM
		    , INFO.CON_ID		AS CON_ID
		    , CON.CON_NM		AS CON_NM
		    , INFO.PLAY_ST_DATE	AS PLAY_ST_DATE
		    , INFO.FILE_TYPE	AS FILE_TYPE
		    , DL_CD.DL_CD_NM	AS FILE_TYPE_NM
		    , INFO.IMG_PLAY_TM	AS IMG_PLAY_TM
		    , INFO.ATT_FILE		AS ATT_FILE
		    , INFO.REMARK		AS REMARK
		    , INFO.PLAY_TM		AS PLAY_TM
		    , INFO.PLAY_ED_DATE	AS PLAY_ED_DATE
		    , INFO.UPDATED_AT	AS UPDATED_AT
		FROM
			BM_VDO_ORGA_LIST OLIST
		    LEFT JOIN BM_VDO_INFO INFO
		    ON OLIST.VDO_ID = INFO.VDO_ID
		    
		    LEFT JOIN BM_CON_INFO CON
		    ON INFO.CON_ID = CON.CON_ID
		    LEFT JOIN SM_DL_CD_INFO DL_CD
		    ON INFO.FILE_TYPE = DL_CD.DL_CD
		    
		WHERE
			ORGA_ID = #{orgaId}

		ORDER BY SEQ
	</select>
</mapper>