<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tracom.brt.domain.SM0104.SM0104Mapper">

    <select id="SM0104G0S0" parameterType="String" resultType="commonCodeInfoVO">
    	SELECT
    		*
    	FROM
    		SM_CO_CD_INFO
    	<where>
	    	<if test="value != null">
				CO_CD LIKE CONCAT('%', #{value}, '%')
				OR CO_CD_NM LIKE CONCAT('%', #{value}, '%')
	    	</if>
    	</where>
    </select>
    
    <select id="SM0104F0S0" parameterType="String" resultType="commonCodeInfoVO">
    	SELECT
    		*
    	FROM
    		SM_CO_CD_INFO
    	WHERE
    		CO_CD = #{value}
    </select>

    <insert id="SM0104F0I0" parameterType="commonCodeInfoVO">
    	INSERT INTO SM_CO_CD_INFO(
    		  CO_CD
    		, CO_CD_NM
    		, CO_CD_ENM
    		, USE_YN
    		, REMARK
    		, CREATED_AT
    		, CREATED_BY
    		, UPDATED_AT
    		, UPDATED_BY)
   		VALUES(
   			  #{coCd}
   			, #{coCdNm}
   			, #{coCdEnm}
   			, #{useYn}
   			, #{remark}
   			, #{createdAt}
   			, #{createdBy}
   			, #{updatedAt}
   			, #{updatedBy}
   		)
    </insert>
    
    <update id="SM0104F0U0" parameterType="commonCodeInfoVO">
    	UPDATE SM_CO_CD_INFO
    	SET
    		  CO_CD_NM		=	#{coCdNm}
    		, CO_CD_ENM		=	#{coCdEnm}
    		, USE_YN		=	#{useYn}
    		, REMARK		=	#{remark}
    		, UPDATED_AT	=	#{updatedAt}
    		, UPDATED_BY	=	#{updatedBy}
    	WHERE
    		CO_CD = #{coCd}
    </update>
    
    <delete id="SM0104G0D0" parameterType="commonCodeInfoVO">
    	DELETE
    		FROM SM_CO_CD_INFO
    	WHERE
    		CO_CD = #{coCd}
    </delete>
</mapper>