<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tracom.brt.domain.BM0602.BM0602Mapper">
	<select id="BM0602G0S0" resultType="newsVO" parameterType="String">
     SELECT
		   PROV_ID
		 , PROV_URL
		 , PROV_NM
		 , REMARK
		 , USE_YN
     FROM
	      BM_NEWS_SET
	 <where>
	    	<if test="value != null">
				PROV_NM LIKE CONCAT('%', #{value}, '%')
	    	</if>
    	</where>
	</select>
	
	<insert id="BM0602F0I0" parameterType="newsVO">
		<selectKey keyProperty="provId" resultType="String" order="BEFORE">
    		SELECT CONCAT('NS', LPAD(NEXTVAL(SEQ_BM_NEWS_SET_0), 5, '0'))
    	</selectKey>
		INSERT INTO BM_NEWS_SET(
				PROV_ID
			  , PROV_URL
			  , PROV_NM
			  , REMARK
			  , USE_YN
			  )
			  VALUES(
			  	#{provId}
			  , #{provUrl}
			  , #{provNm}
			  , #{remark}
			  , "N"
			  )		  			
	</insert>
	<update id="BM0602F0U0" parameterType="newsVO">
		UPDATE BM_NEWS_SET
		SET
			PROV_ID  = #{provId}
		  , PROV_URL = #{provUrl}
		  , PROV_NM  = #{provNm}
		  , REMARK   = #{remark}
		  , USE_YN   = #{useYn}
		WHERE
			PROV_ID = #{provId}
	</update>
	
	<delete id="BM0602G0D0" parameterType="newsVO">
		DELETE
		FROM BM_NEWS_SET
		WHERE PROV_ID = #{provId}
	</delete>
</mapper>