<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tracom.brt.domain.BM0602.BM0602Mapper">
	<select id="BM0602G0S0" resultType="newsVO" parameterType="String">
     SELECT
		   PROV_ID
		 , PROV_URL
		 , PROV_NM
		 , REMARK
		 , USE_YN
     FROM
	      BM_NEWS_SET
	 <where>
	    	<if test="value != null">
				PROV_NM LIKE CONCAT('%', #{value}, '%')
				OR PROV_ID LIKE CONCAT('%' , #{value} , '%')
	    	</if>
    	</where>
	</select>
	
	<select id="BM0602M0S0" resultType="newsVO" parameterType="String">
	SELECT
		TXT_VAL1
 	  , NUM_VAL4
 	  , NUM_VAL5
 	  , NUM_VAL6
    FROM
		(SELECT * FROM SM_DL_CD_INFO WHERE CO_CD = 'LINK_SET') AS DL
    WHERE
		DL_CD = "CD043"
	</select>
	
	<select id="BM0602F0S0" resultType="newsVO" parameterType="newsVO">
	SELECT
		PROV_ID
	  ,	PROV_URL
	  , USE_YN
	FROM
	   BM_NEWS_SET
	WHERE
	   USE_YN = "Y"
	</select>
	<select id="BM0602G0S2" resultType="String" parameterType="String">
		SELECT
			PROV_NM
		FROM
			BM_NEWS_SET
		WHERE
		<!-- 
			PROV_URL = #{value}
		 -->
		 	PROV_ID = #{value}
	</select>
	
	<insert id="BM0602F0I0" parameterType="newsVO">
		<selectKey keyProperty="provId" resultType="String" order="BEFORE">
    		SELECT CONCAT('NS', LPAD(NEXTVAL(SEQ_BM_NEWS_SET_0), 5, '0'))
    	</selectKey>
		INSERT INTO BM_NEWS_SET(
				PROV_ID
			  , PROV_URL
			  , PROV_NM
			  , REMARK
			  , USE_YN
			  , CREATED_AT
    		  , CREATED_BY
    		  , CREATED_IP
    		  , UPDATED_AT
    		  , UPDATED_BY
    		  , UPDATED_IP)
			  VALUES(
			  	#{provId}
			  , #{provUrl}
			  , #{provNm}
			  , #{remark}
			  , "Y"
			  , #{createdAt}
   			  , #{createdBy}
   			  , #{createdIp}
   			  , #{updatedAt}
   			  , #{updatedBy}
   			  , #{updatedIp}
			  )		  			
	</insert>
	<insert id="BM0602G0I0" parameterType="newsVO">
		INSERT INTO BM_NEWS(
		            CATEGORY
		          , PROV_NM
		          , NEWS_TITLE
		          , PUB_DT
		          , USE_YN
		          , RENEW_DATE
		          , CREATED_AT
    		  	  , CREATED_BY
    		  	  , CREATED_IP
    		  	  , UPDATED_AT
    		  	  , UPDATED_BY
    		  	  , UPDATED_IP)
    		  	VALUES(
    		  	    #{category}
    		  	  , #{provNm}
    		  	  , #{newsTitle}
    		  	  , #{pubDt}
    		  	  , #{useYn}
    		  	  , CURRENT_TIMESTAMP
    		  	  , #{createdAt}
   			  	  , #{createdBy}
   			  	  , #{createdIp}
	   			  , #{updatedAt}
	   			  , #{updatedBy}
	   			  , #{updatedIp}
    		  	)
	</insert>
	
	<update id="BM0602M0I0" parameterType="newsVO">
		UPDATE SM_DL_CD_INFO
		SET
		TXT_VAL1 = #{txtVal1}
		, NUM_VAL4 = #{numVal4}
		, NUM_VAL5 = #{numVal5}
		, NUM_VAL6 = #{numVal6}
		WHERE
		CO_CD = "LINK_SET"
		AND DL_CD = "CD043"
	</update>
	
	<update id="BM0602F0U0" parameterType="newsVO">
		UPDATE BM_NEWS_SET
		SET		
			PROV_ID     =   #{provId}
		  , PROV_URL    =   #{provUrl}
		  , PROV_NM     =   #{provNm}
		  , REMARK      =   #{remark}
		  , USE_YN      =   #{useYn}
		  , UPDATED_AT	=	#{updatedAt}
    	  , UPDATED_BY	=	#{updatedBy}
    	  , UPDATED_IP	=	#{updatedIp}
		WHERE
			PROV_ID = #{provId}
	</update>
	
	<delete id="BM0602G0D0" parameterType="newsVO">
		DELETE
		FROM BM_NEWS_SET
		WHERE PROV_ID = #{provId}
	</delete>
	
	<delete id="BM0602D0">
	<!-- 
		DELETE
		FROM BM_NEWS
		WHERE 
		SUBSTRING_INDEX(PUB_DT," ",1) &lt;= #{deletDate}
	 -->
		 DELETE
		 FROM BM_NEWS
	</delete>
	
	<!-- 유저 뉴스 쿼리 -->
	<insert id="insertUserNews">
		INSERT INTO BM_NEWS(
			            CATEGORY
			          , PROV_NM
			          , NEWS_TITLE
			          , PUB_DT
			          , USE_YN
			          , RENEW_DATE
			          , CREATED_AT
	    		  	  , CREATED_BY
	    		  	  , CREATED_IP
	    		  	  , UPDATED_AT
	    		  	  , UPDATED_BY
	    		  	  , UPDATED_IP)
		SELECT 
			  CATEGORY		AS CATEGORY
			, PROV_NM		AS PROV_NM
			, SUBSTRING(NEWS_CONTENTS, 1, 49)	AS NEWS_TITLE
			, PUB_DT		AS PUB_DT
			, 'Y'			AS USE_YN
			, CURRENT_TIMESTAMP
			, #{createdAt}
			, #{createdBy}
			, #{createdIp}
			, #{updatedAt}
  			, #{updatedBy}
  			, #{updatedIp}
		FROM
			BM_NEWS_USER_SET
		WHERE
			USE_YN = 'Y'
	</insert>
</mapper>