<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tracom.brt.domain.BM0607.BM0607Mapper">

	<select id="BM0607G1S0" resultType="vdoRsvVO">
		SELECT
			  IF(RST.COMPLETE_YN = 'N', '예약불가', '예약가능') AS POSSIBLE
			, VHC.VHC_ID	AS VHC_ID
		    , VHC.VHC_NO	AS VHC_NO
		    , DL.DL_CD_NM AS VHC_KIND_NM
		    , DL2.DL_CD_NM AS INST_LOC_NM
		    , DVC.MNG_ID	AS MNG_ID
		FROM
			BM_VHC_INFO VHC
		    LEFT JOIN
			BM_DVC_INFO DVC
		    ON VHC.VHC_ID = DVC.VHC_ID
		    LEFT JOIN
			SM_DL_CD_INFO DL
			ON DVC.DVC_KIND = DL.DL_CD AND DL.CO_CD = 'DVC_KIND'
		    LEFT JOIN
		    SM_DL_CD_INFO DL2
		    ON DVC.INST_LOC = DL2.DL_CD AND DL2.CO_CD = 'INST_LOC'
		    LEFT JOIN
			BM_VDO_RSV_RST RST
		    ON DVC.MNG_ID = RST.MNG_ID AND COMPLETE_YN = 'N'
		WHERE
			VHC.USE_YN = 'Y'
			AND DL.TXT_VAL1 = 'PD'
		ORDER BY VHC.VHC_ID
	<!-- 
		SELECT
			  VHC.VHC_ID		AS VHC_ID
			, VHC.VHC_NO		AS VHC_NO
			, DVC.DVC_ID		AS DVC_ID
			, DVC.INST_LOC		AS INST_LOC
			, DVC.MNG_ID		AS MNG_ID
			, RSV.RSV_ID		AS RSV_ID
			, RSV.RSV_DATE		AS RSV_DATE
			, RSV.DVC_ID		AS DVC_ID
			, RSV.ORGA_ID		AS ORGA_ID
			, ORGA.ORGA_NM		AS ORGA_NM
			, RSV.COMPLETE_YN	AS COMPLETE_YN
		FROM
			BM_VHC_INFO VHC
			LEFT JOIN
			BM_DVC_INFO DVC
			ON VHC.VHC_ID = DVC.VHC_ID
			LEFT JOIN
			(SELECT * FROM BM_VDO_RSV WHERE COMPLETE_YN = 'N') RSV
			ON DVC.DVC_ID = RSV.DVC_ID
			LEFT JOIN
			(SELECT * FROM SM_DL_CD_INFO WHERE CO_CD = 'DVC_KIND') DL
			ON DVC.DVC_KIND = DL.DL_CD
			LEFT JOIN
			BM_VDO_ORGA ORGA
			ON RSV.ORGA_ID = ORGA.ORGA_ID
		WHERE
			DVC.DVC_KIND = 'CD003'
	 -->
	</select>
	
	<insert id="BM0607G1I0" parameterType="vdoRsvVO">
		<selectKey keyProperty="rsvId" resultType="String" order="BEFORE">
    		SELECT CONCAT('VR', LPAD(NEXTVAL(SEQ_BM_VDO_INFO_0), 5, '0'))
    	</selectKey>
    	
    	INSERT INTO
    		BM_VDO_RSV(
    			  RSV_ID
    			, RSV_DATE
    			, DVC_ID
    			, ORGA_ID
    			, COMPLETE_YN
    			)
    			
   		VALUES
   			<foreach collection="voList" item="voList" separator=",">
   			(
   			    #{rsvId}
   			  , #{rsvDate}
   			  , #{voList.dvcId}
   			  , #{orgaId}
   			  , 'N'
   			)
   			</foreach>
	</insert>
	
	
</mapper>