<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tracom.brt.domain.BM0206.BM0206Mapper">
	<select id="BM0206G2S0" parameterType="String" resultType="updateHistoryVO">
	   SELECT
			UP.VER_INFO
		  , UP.SEND_DATE
		  , UP.REMARK
		  , UP.RSV_ID
		  , DL.DL_CD_NM AS PROCE_RST
		FROM
			BM_UPD_LOG UP
			LEFT OUTER JOIN BM_DVC_INFO D
			ON UP.MNG_ID = D.MNG_ID
			LEFT OUTER JOIN (SELECT * FROM SM_DL_CD_INFO WHERE CO_CD =  'FTP_RESULT' ) AS DL
			ON UP.PROCE_RST = DL.DL_CD
		WHERE
			D.DVC_ID = #{value}		
	</select>
	
	<select id="BM0206G2S1" parameterType="Map" resultType="updateHistoryVO">
		SELECT
			UP.VER_INFO
		  , UP.SEND_DATE
		  , UP.REMARK
		  , UP.DVC_ID
		FROM
			BM_UPD_LOG UP
			LEFT OUTER JOIN BM_DVC_INFO D
			ON UP.DVC_ID = D.DVC_ID
		WHERE
			UP.DVC_ID = #{gridDvcId}
			AND SUBSTRING_INDEX(UP.SEND_DATE,"-",2) &lt;= #{filter}
	</select>
</mapper>