<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tracom.brt.domain.SM0107.SM0107Mapper">

    <select id="SM0107G0S0" parameterType="hashmap" resultType="vhcDvcUpdateVO">
    	SELECT
			  U.RSV_ID
			, V.VHC_NO
			, U.COMPLETE_YN
			, R.RSV_DATE
			, U.MNG_ID
			, DC1.DL_CD_NM		AS DVC_KIND
			, DC2.DL_CD_NM		AS MAKER
			, DC3.DL_CD_NM		AS INST_LOC
			, U.COMPLETE_YN
			, DC5.DL_CD_NM		AS PROCE_RST
			, DATE_FORMAT(U.SEND_DATE, '%Y-%m-%d %H:%i:%s')	AS SEND_DATE
		FROM
			BM_UPD_LOG U
			INNER JOIN BM_UPD_RSV R
			ON U.RSV_ID = R.RSV_ID
			INNER JOIN BM_DVC_INFO D
			ON U.MNG_ID = D.MNG_ID
			INNER JOIN BM_VHC_INFO V
			ON D.VHC_ID = V.VHC_ID
			LEFT OUTER JOIN SM_DL_CD_INFO DC1
			ON D.DVC_KIND = DC1.DL_CD
			AND DC1.CO_CD = 'DVC_KIND'
			LEFT OUTER JOIN SM_DL_CD_INFO DC2
			ON D.MAKER = DC2.DL_CD
			AND DC2.CO_CD = 'DVC_MAKER'
			LEFT OUTER JOIN SM_DL_CD_INFO DC3
			ON D.INST_LOC = DC3.DL_CD
			AND DC3.CO_CD = 'INST_LOC'
			LEFT OUTER JOIN SM_DL_CD_INFO DC4
			ON DC4.DL_CD = #{completeYn}
			AND DC4.CO_CD = 'COMPLETE_YN'
			LEFT OUTER JOIN SM_DL_CD_INFO DC5
			ON DC5.DL_CD = U.PROCE_RST
			AND DC5.CO_CD = 'FTP_RESULT'
		WHERE
			U.COMPLETE_YN = DC4.TXT_VAL1
			AND DATE_FORMAT(R.RSV_DATE, '%Y-%m') = #{date}
		GROUP BY D.DVC_ID
    </select>
    
    <select id="SM0107G1S0" parameterType="hashmap" resultType="vhcInfoVO">
    	SELECT
			  V.RSV_ID
			, R.RSV_DATE
			, V.COMPLETE_YN
			, D.MNG_ID
    		, VHC_INFO.VHC_ID
    		, VHC_NO
    		, CHAS_NO
			, CORP_INFO.CORP_NM AS CORP_NM
	        , DL_CD6.DL_CD_NM AS AREA_NM
	        , DL_CD5.DL_CD_NM AS MAKER_NM
    		, RELS_DATE
    		, MODEL_NM
	        , DL_CD.DL_CD_NM AS VHC_KIND_NM
	        , DL_CD2.DL_CD_NM AS VHC_TYPE_NM
	        , DL_CD3.DL_CD_NM AS LF_YN_NM
	        , DL_CD4.DL_CD_NM AS VHC_FUEL_NM
    		, VHC_INFO.REMARK
    		, VHC_INFO.USE_YN
    		, V.COMPLETE_YN
    		, DL_CD8.DL_CD_NM	AS PROCE_RST
    		, DATE_FORMAT(V.SEND_DATE, '%Y-%m-%d %H:%i:%s')	AS SEND_DATE
    	FROM
    		BM_VHC_INFO VHC_INFO
			LEFT OUTER JOIN BM_CORP_INFO CORP_INFO
			ON VHC_INFO.CORP_ID = CORP_INFO.CORP_ID
         	LEFT OUTER JOIN SM_DL_CD_INFO DL_CD
			ON VHC_INFO.VHC_KIND = DL_CD.DL_CD
			AND DL_CD.CO_CD = 'VHC_KIND'
         	LEFT OUTER JOIN SM_DL_CD_INFO DL_CD2
			ON VHC_INFO.VHC_TYPE = DL_CD2.DL_CD 
			AND DL_CD2.CO_CD = 'VHC_TYPE'
			LEFT OUTER JOIN SM_DL_CD_INFO DL_CD3
			ON VHC_INFO.LF_YN = DL_CD3.DL_CD 
			AND DL_CD3.CO_CD = 'LF_YN'
			LEFT OUTER JOIN SM_DL_CD_INFO DL_CD4
			ON VHC_INFO.VHC_FUEL = DL_CD4.DL_CD 
			AND DL_CD4.CO_CD = 'VHC_FUEL'
			LEFT OUTER JOIN SM_DL_CD_INFO DL_CD5
			ON VHC_INFO.MAKER = DL_CD5.DL_CD 
			AND DL_CD5.CO_CD = 'VHC_MAKER'
			LEFT OUTER JOIN SM_DL_CD_INFO DL_CD6
			ON VHC_INFO.AREA = DL_CD6.DL_CD 
			AND DL_CD6.CO_CD = 'AREA'
			LEFT OUTER JOIN SM_DL_CD_INFO DL_CD7
			ON DL_CD7.DL_CD = #{completeYn}
			AND DL_CD7.CO_CD = 'COMPLETE_YN'
			LEFT OUTER JOIN BM_DVC_INFO D
			ON VHC_INFO.VHC_ID = D.VHC_ID
			AND D.DVC_KIND = 'CD005'
			INNER JOIN BM_VOC_RSV_RST V
			ON D.MNG_ID = V.MNG_ID
			INNER JOIN BM_VOC_RSV R
			ON V.RSV_ID = R.RSV_ID
			LEFT OUTER JOIN SM_DL_CD_INFO DL_CD8
			ON DL_CD8.DL_CD = V.PROCE_RST
			AND DL_CD8.CO_CD = 'FTP_RESULT'
		WHERE
			VHC_INFO.USE_YN = 'Y'
	        AND D.MNG_ID IS NOT NULL
	        AND V.RSV_ID IN (
	        	SELECT
					RSV_ID
				FROM
					BM_VOC_RSV_RST
				WHERE
					COMPLETE_YN = DL_CD7.TXT_VAL1
				GROUP BY RSV_ID
	        )
	        AND DATE_FORMAT(R.RSV_DATE, '%Y-%m') = #{date}
		GROUP BY VHC_INFO.VHC_ID, V.RSV_ID
		ORDER BY VHC_INFO.VHC_ID ASC
    </select>
    
    <select id="SM0107G2S0" parameterType="hashmap" resultType="vhcDeviceVO">
    	SELECT
    		  R.RSV_ID
			, V.VHC_NO
			, R.COMPLETE_YN
			, DR.RSV_DATE
			, DC2.DL_CD_NM				AS PROCE_RST
			, R.MNG_ID
			, DC3.DL_CD_NM				AS DVC_KIND
			, DC4.DL_CD_NM				AS MAKER
			, DC5.DL_CD_NM				AS INST_LOC
			, DATE_FORMAT(R.SEND_DATE, '%Y-%m-%d %H:%i:%s')	AS SEND_DATE
		FROM
			BM_DESTI_RSV_RST R
			INNER JOIN BM_DESTI_RSV DR
			ON R.RSV_ID = DR.RSV_ID
			LEFT OUTER JOIN BM_DVC_INFO D
			ON R.MNG_ID = D.MNG_ID
			LEFT OUTER JOIN BM_VHC_INFO V
			ON D.VHC_ID = V.VHC_ID
			LEFT OUTER JOIN SM_DL_CD_INFO DC1
			ON DC1.DL_CD = #{completeYn}
			AND DC1.CO_CD = 'COMPLETE_YN'
			LEFT OUTER JOIN SM_DL_CD_INFO DC2
			ON DC2.DL_CD = R.PROCE_RST
			AND DC2.CO_CD = 'FTP_RESULT'
			LEFT OUTER JOIN SM_DL_CD_INFO DC3
			ON DC3.DL_CD = D.DVC_KIND
			AND DC3.CO_CD = 'DVC_KIND'
			LEFT OUTER JOIN SM_DL_CD_INFO DC4
			ON DC4.DL_CD = D.MAKER
			AND DC4.CO_CD = 'DVC_MAKER'
			LEFT OUTER JOIN SM_DL_CD_INFO DC5
			ON DC5.DL_CD = D.INST_LOC
			AND DC5.CO_CD = 'INST_LOC'
		WHERE
			D.DVC_ID IS NOT NULL
			AND D.USE_YN = 'Y'
			AND R.COMPLETE_YN = DC1.TXT_VAL1
			AND DATE_FORMAT(DR.RSV_DATE, '%Y-%m') = #{date}
		ORDER BY V.VHC_NO, DR.RSV_DATE DESC, R.SEND_DATE DESC
    </select>
    
    <select id="SM0107G3S0" parameterType="hashmap" resultType="vdoRsvVO">
    	SELECT
			  R.RSV_ID
			, V.VHC_NO
			, R.COMPLETE_YN
			, VR.RSV_DATE
			, R.MNG_ID
			, DC1.DL_CD_NM		AS MAKER_NM
			, DC2.DL_CD_NM		AS DVC_KIND_NM
			, H.MODEL_NM
			, DC3.DL_CD_NM		AS INST_LOC_NM
			, R.COMPLETE_YN
			, DC5.DL_CD_NM		AS PROCE_RST
			, DATE_FORMAT(R.SEND_DATE, '%Y-%m-%d %H:%i:%s')	AS SEND_DATE
		FROM
			BM_VDO_RSV_RST R
			INNER JOIN BM_VDO_RSV VR
			ON R.RSV_ID = VR.RSV_ID
			LEFT OUTER JOIN BM_DVC_INFO D
			ON R.MNG_ID = D.MNG_ID
			LEFT OUTER JOIN BM_DVC_HIST H
			ON D.DVC_ID = H.DVC_ID
			LEFT OUTER JOIN BM_VHC_INFO V
			ON D.VHC_ID = V.VHC_ID
			LEFT OUTER JOIN SM_DL_CD_INFO DC1
			ON D.MAKER = DC1.DL_CD
			AND DC1.CO_CD = 'DVC_MAKER'
			LEFT OUTER JOIN SM_DL_CD_INFO DC2
			ON D.DVC_KIND = DC2.DL_CD
			AND DC2.CO_CD = 'DVC_KIND'
			LEFT OUTER JOIN SM_DL_CD_INFO DC3
			ON D.INST_LOC = DC3.DL_CD
			AND DC3.CO_CD = 'INST_LOC'
			LEFT OUTER JOIN SM_DL_CD_INFO DC4
			ON DC4.DL_CD = #{completeYn}
			AND DC4.CO_CD = 'COMPLETE_YN'
			LEFT OUTER JOIN SM_DL_CD_INFO DC5
			ON DC5.DL_CD = R.PROCE_RST
			AND DC5.CO_CD = 'FTP_RESULT'
		WHERE
			V.USE_YN = 'Y'
			AND D.USE_YN = 'Y'
			AND R.COMPLETE_YN = DC4.TXT_VAL1
			AND DATE_FORMAT(VR.RSV_DATE, '%Y-%m') = #{date}
		GROUP BY D.DVC_ID
    </select>
    
    <select id="SM0107G4S0" parameterType="hashmap" resultType="scrRsvVO">
    	SELECT
			  R.RSV_ID
			, V.VHC_NO
			, R.COMPLETE_YN
			, SR.RSV_DATE
			, R.MNG_ID
			, DC1.DL_CD_NM		AS MAKER_NM
			, DC2.DL_CD_NM		AS DVC_KIND_NM
			, H.MODEL_NM
			, DC3.DL_CD_NM		AS INST_LOC_NM
			, R.COMPLETE_YN
			, DC5.DL_CD_NM		AS PROCE_RST
			, DATE_FORMAT(R.SEND_DATE, '%Y-%m-%d %H:%i:%s')	AS SEND_DATE
		FROM
			BM_SCR_RSV_RST R
			INNER JOIN BM_SCR_RSV SR
			ON R.RSV_ID = SR.RSV_ID
			LEFT OUTER JOIN BM_DVC_INFO D
			ON R.MNG_ID = D.MNG_ID
			LEFT OUTER JOIN BM_DVC_HIST H
			ON D.DVC_ID = H.DVC_ID
			LEFT OUTER JOIN BM_VHC_INFO V
			ON D.VHC_ID = V.VHC_ID
			LEFT OUTER JOIN SM_DL_CD_INFO DC1
			ON D.MAKER = DC1.DL_CD
			AND DC1.CO_CD = 'DVC_MAKER'
			LEFT OUTER JOIN SM_DL_CD_INFO DC2
			ON D.DVC_KIND = DC2.DL_CD
			AND DC2.CO_CD = 'DVC_KIND'
			LEFT OUTER JOIN SM_DL_CD_INFO DC3
			ON D.INST_LOC = DC3.DL_CD
			AND DC3.CO_CD = 'INST_LOC'
			LEFT OUTER JOIN SM_DL_CD_INFO DC4
			ON DC4.DL_CD = #{completeYn}
			AND DC4.CO_CD = 'COMPLETE_YN'
			LEFT OUTER JOIN SM_DL_CD_INFO DC5
			ON DC5.DL_CD = R.PROCE_RST
			AND DC5.CO_CD = 'FTP_RESULT'
		WHERE
			V.USE_YN = 'Y'
			AND D.USE_YN = 'Y'
			AND R.COMPLETE_YN = DC4.TXT_VAL1
			AND DATE_FORMAT(SR.RSV_DATE, '%Y-%m') = #{date}
		GROUP BY D.DVC_ID
    </select>
    
    <select id="SM0107G5S0" parameterType="hashmap" resultType="edRsvVO">
		SELECT
			  R.RSV_ID
			, V.VHC_NO
			, R.COMPLETE_YN
			, SR.RSV_DATE
			, R.MNG_ID
			, DC1.DL_CD_NM		AS MAKER_NM
			, DC2.DL_CD_NM		AS DVC_KIND_NM
			, H.MODEL_NM
			, DC3.DL_CD_NM		AS INST_LOC_NM
			, R.COMPLETE_YN
			, DC5.DL_CD_NM		AS PROCE_RST
			, DATE_FORMAT(R.SEND_DATE, '%Y-%m-%d %H:%i:%s')	AS SEND_DATE
		FROM
			BM_ED_RSV_RST R
			INNER JOIN BM_ED_RSV SR
			ON R.RSV_ID = SR.RSV_ID
			LEFT OUTER JOIN BM_DVC_INFO D
			ON R.MNG_ID = D.MNG_ID
			LEFT OUTER JOIN BM_DVC_HIST H
			ON D.DVC_ID = H.DVC_ID
			LEFT OUTER JOIN BM_VHC_INFO V
			ON D.VHC_ID = V.VHC_ID
			LEFT OUTER JOIN SM_DL_CD_INFO DC1
			ON D.MAKER = DC1.DL_CD
			AND DC1.CO_CD = 'DVC_MAKER'
			LEFT OUTER JOIN SM_DL_CD_INFO DC2
			ON D.DVC_KIND = DC2.DL_CD
			AND DC2.CO_CD = 'DVC_KIND'
			LEFT OUTER JOIN SM_DL_CD_INFO DC3
			ON D.INST_LOC = DC3.DL_CD
			AND DC3.CO_CD = 'INST_LOC'
			LEFT OUTER JOIN SM_DL_CD_INFO DC4
			ON DC4.DL_CD = #{completeYn}
			AND DC4.CO_CD = 'COMPLETE_YN'
			LEFT OUTER JOIN SM_DL_CD_INFO DC5
			ON DC5.DL_CD = R.PROCE_RST
			AND DC5.CO_CD = 'FTP_RESULT'
		WHERE
			V.USE_YN = 'Y'
			AND D.USE_YN = 'Y'
			AND R.COMPLETE_YN = DC4.TXT_VAL1
			AND DATE_FORMAT(SR.RSV_DATE, '%Y-%m') = #{date}
		GROUP BY D.DVC_ID
    </select>
    
    
    <update id="SM0107G0U0" parameterType="hashmap">
    	<foreach collection="list" item="item" separator=";">
    		UPDATE BM_UPD_LOG
    		SET
    			  PROCE_RST = 'CD999'
    			, SEND_DATE = NOW()
    			, COMPLETE_YN = 'Y'
    		WHERE
    			RSV_ID = #{item.rsvId}
    			AND MNG_ID = #{item.mngId}
    	</foreach>;
    </update>
    
    <update id="SM0107G1U0" parameterType="hashmap">
    	<foreach collection="list" item="item" separator=";">
    		UPDATE BM_VOC_RSV_RST
    		SET
    			  PROCE_RST = 'CD999'
    			, SEND_DATE = NOW()
    			, COMPLETE_YN = 'Y'
    		WHERE
    			RSV_ID = #{item.rsvId}
    			AND MNG_ID = #{item.mngId}
    	</foreach>;
    </update>
    
    <update id="SM0107G2U0" parameterType="hashmap">
    	<foreach collection="list" item="item" separator=";">
    		UPDATE BM_DESTI_RSV_RST
    		SET
    			  PROCE_RST = 'CD999'
    			, SEND_DATE = NOW()
    			, COMPLETE_YN = 'Y'
    		WHERE
    			RSV_ID = #{item.rsvId}
    			AND MNG_ID LIKE CONCAT(LEFT(#{item.mngId}, 10), '%')
    	</foreach>;
    </update>
    
    <update id="SM0107G3U0" parameterType="hashmap">
    	<foreach collection="list" item="item" separator=";">
    		UPDATE BM_VDO_RSV_RST
    		SET
    			  PROCE_RST = 'CD999'
    			, SEND_DATE = NOW()
    			, COMPLETE_YN = 'Y'
    		WHERE
    			RSV_ID = #{item.rsvId}
    			AND MNG_ID = #{item.mngId}
    	</foreach>;
    </update>
    
    <update id="SM0107G4U0" parameterType="hashmap">
    	<foreach collection="list" item="item" separator=";">
    		UPDATE BM_SCR_RSV_RST
    		SET
    			  PROCE_RST = 'CD999'
    			, SEND_DATE = NOW()
    			, COMPLETE_YN = 'Y'
    		WHERE
    			RSV_ID = #{item.rsvId}
    			AND MNG_ID = #{item.mngId}
    	</foreach>;
    </update>
    
    <update id="SM0107G5U0" parameterType="hashmap">
    	<foreach collection="list" item="item" separator=";">
    		UPDATE BM_ED_RSV_RST
    		SET
    			  PROCE_RST = 'CD999'
    			, SEND_DATE = NOW()
    			, COMPLETE_YN = 'Y'
    		WHERE
    			RSV_ID = #{item.rsvId}
    			AND MNG_ID = #{item.mngId}
    	</foreach>;
    </update>
</mapper>