<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tracom.brt.domain.BM0503.BM0503Mapper">

	<select id="BM0503G0S0" parameterType="String" resultType="routRsvVO">
		SELECT
			  ROUT.ROUT_ID		AS ROUT_ID
			, ROUT.INTER_ROUT_ID	AS INTER_ROUT_ID
            , ROUT.ROUT_NM		AS ROUT_NM
			, DVC_NAME			AS DVC_NAME
			, DLCD.DL_CD_NM		AS USER_WAY_DIV_NM
		    , DLCD2.DL_CD_NM	AS DVC_TYPE
		FROM
			BM_ROUT_INFO ROUT
		    LEFT JOIN
		    SM_DL_CD_INFO DLCD
		    ON DLCD.CO_CD = 'UPDOWN_FLAG' AND ROUT.USER_WAY_DIV = DLCD.TXT_VAL1
		    LEFT OUTER JOIN 
			SM_DL_CD_INFO DLCD2
		    ON DLCD2.CO_CD = 'DVC_KIND' AND DLCD2.TXT_VAL1 = 'RD'
		WHERE
			ROUT.DVC_NAME IS NOT NULL
			<if test="value != null">
				AND
				(
				ROUT.ROUT_ID LIKE CONCAT('%', #{value}, '%')
			    OR
			    ROUT.INTER_ROUT_ID LIKE CONCAT('%', #{value}, '%')
			    OR
			    ROUT.ROUT_NM LIKE CONCAT('%', #{value}, '%')
			    OR
			    ROUT.DVC_NAME LIKE CONCAT('%', #{value}, '%')
				)
	    	</if>
	</select>

	<select id="BM0503G1S0" resultType="routRsvVO">
		SELECT
			  IF(RST.COMPLETE_YN = 'N', '예약중', NULL) AS POSSIBLE
			, VHC.VHC_ID	AS VHC_ID
		    , VHC.VHC_NO	AS VHC_NO
		    , DL.DL_CD_NM	AS VHC_KIND_NM
		    , DL2.DL_CD_NM	AS INST_LOC_NM
		    , DVC.MNG_ID	AS MNG_ID
		FROM
			BM_VHC_INFO VHC
		    LEFT JOIN
			BM_DVC_INFO DVC
		    ON VHC.VHC_ID = DVC.VHC_ID
		    LEFT JOIN
			SM_DL_CD_INFO DL
			ON DVC.DVC_KIND = DL.DL_CD AND DL.CO_CD = 'DVC_KIND'
		    LEFT JOIN
		    SM_DL_CD_INFO DL2
		    ON DVC.INST_LOC = DL2.DL_CD AND DL2.CO_CD = 'INST_LOC'
		    LEFT JOIN
			BM_DESTI_RSV_RST RST
		    ON DVC.MNG_ID = RST.MNG_ID AND COMPLETE_YN = 'N'
		WHERE
			VHC.USE_YN = 'Y'
            AND
            DVC.USE_YN = 'Y'
			AND DL.TXT_VAL1 = 'RD'
			
		GROUP BY VHC_ID
		ORDER BY VHC.VHC_ID, DVC.MNG_ID
	</select>
	
	<select id="vhcMngList" parameterType="String" resultType="routRsvVO">
		SELECT
		 	DVC.MNG_ID AS MNG_ID
		FROM
			BM_VHC_INFO VHC
			LEFT JOIN
			BM_DVC_INFO DVC
			ON VHC.VHC_ID = DVC.VHC_ID
		WHERE
			VHC.USE_YN = 'Y'
			AND DVC.USE_YN = 'Y'
            AND (DVC.DVC_KIND = 'CD001' || DVC.DVC_KIND = 'CD002')
			AND	VHC.VHC_ID = #{value}
	</select>
	
	
	<insert id="BM0503G1I0" parameterType="routRsvVO">
    	INSERT INTO
    		BM_DESTI_RSV_RST(
    			  RSV_ID
    			, MNG_ID
    			, COMPLETE_YN
    			)
    			
   		VALUES
   			(
   				#{rsvId}
   			  , #{mngId}
   			  , 'N'
   			)
	</insert>
	
	<insert id="BM0503G1I1" parameterType="routRsvVO">
		<selectKey keyProperty="rsvId" resultType="String" order="BEFORE">
	    	SELECT CONCAT('DR', LPAD(NEXTVAL(SEQ_BM_DST_RSV_0), 5, '0'))
	    </selectKey>
	    
		INSERT INTO
			BM_DESTI_RSV(
				  RSV_ID
				, RSV_DATE)
			VALUES(
				  #{rsvId}
				, #{rsvDate}
				)
	</insert>
	
</mapper>