<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tracom.brt.domain.BM0202.BM0202Mapper">

	<select id="BM0202G2S0" parameterType="String" resultType="dvcHistoryVO">
		SELECT
		     DH.DEV_SERIAL_NO
    	   , DH.MODEL_NM
    	   , DH.APLY_DATE
    	   , DL.DL_CD_NM AS WORK_TYPE
    	   , DH.WORK_AMT
   		   , DH.REMARK
   		   , DH.DVC_ID
   		   , DH.SEQ
   		   , DI.DVC_ID			
   		   , DI.DVC_KIND
        FROM
    		BM_DVC_HIST DH
    		LEFT OUTER JOIN BM_DVC_INFO DI
    		ON DH.DVC_ID = DI.DVC_ID
    		LEFT OUTER JOIN SM_DL_CD_INFO DL
    		ON DH.WORK_TYPE = DL.DL_CD
   		WHERE
   			DH.DVC_ID = #{value}	
	</select>
	
	<select id="BM0202G2S1" parameterType="Map" resultType="dvcHistoryVO">
		SELECT
		     DH.DEV_SERIAL_NO
    	   , DH.MODEL_NM
    	   , DH.APLY_DATE
    	   , DL.DL_CD_NM AS WORK_TYPE
    	   , DH.WORK_AMT
   		   , DH.REMARK
   		   , DH.DVC_ID
   		   , DH.SEQ
   		   , DI.DVC_ID			
   		   , DI.DVC_KIND
        FROM
    		BM_DVC_HIST DH
    		LEFT OUTER JOIN BM_DVC_INFO DI
    		ON DH.DVC_ID = DI.DVC_ID
    		LEFT OUTER JOIN SM_DL_CD_INFO DL
    		ON DH.WORK_TYPE = DL.DL_CD
   		WHERE
   			DH.DVC_ID = #{gridDvcId}
   			AND SUBSTRING_INDEX(DH.APLY_DATE,"-",2) &lt;= #{filter}
	</select>
	
	<select id="BM0202M0S0" parameterType="String" resultType="dvcHistoryVO">
			SELECT
				WORK_TYPE
			FROM
				BM_DVC_HIST
			WHERE
				DVC_ID = #{dvcId}
			GROUP BY WORK_TYPE LIMIT 1
	</select>
	
	<update id="BM0202G2U0" parameterType="dvcHistoryVO">
		UPDATE BM_DVC_HIST
		SET
			 DEV_SERIAL_NO = #{devSerialNo}
    	   , MODEL_NM      = #{modelNm}
    	   , APLY_DATE     = #{aplyDate}
    	   , WORK_TYPE     = #{workType}
    	   , WORK_AMT      = #{workAmt}
   		   , REMARK        = #{remark}
   		   , DVC_ID        = #{dvcId}
   		   , UPDATED_AT	   = #{updatedAt}
    	   , UPDATED_BY	   = #{updatedBy}
    	WHERE
    		DVC_ID = #{dvcId}
    		AND DEV_SERIAL_NO = #{devSerialNo}		
	</update>
	
	<delete id="BM0202G2D0" parameterType="String">
		DELETE
			FROM BM_DVC_HIST
		WHERE
			SEQ = #{seq}
	</delete>
</mapper>