<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tracom.brt.domain.BM0403.BM0403Mapper">

    <select id="BM0403G0S0" parameterType="String" resultType="voiceInfoVO">
    	SELECT
    		  VOC.VOC_ID AS VOC_ID
    		, VOC_NM
    		, PLAY_ST_DATE
    		, PLAY_TYPE
    		, KR_TTS
    		, SCR_TXT
    		, VOC_DIV
    		, LED.TXT_A AS TXT_A
    		, LED.TXT_B AS TXT_B
    		, VOC.REMARK AS REMARK
    		, PLAY_TM
    		, PLAY_ED_DATE
    		, CONCAT(DATE_FORMAT(PLAY_ST_DATE, '%Y-%m-%d'), ' ~ ', DATE_FORMAT(PLAY_ED_DATE, '%Y-%m-%d')) PLAY_DATE
    	FROM
    		BM_VOC_INFO VOC
    		LEFT JOIN
    		BM_INNER_LED LED
    		ON CONCAT(VOC.VOC_ID, 'K') = LED.VOC_ID
    	WHERE
    		VOC_DIV = 'CD027'
	    	<if test="value != null">
				AND VOC_ID LIKE CONCAT('%', #{value}, '%')
				OR VOC_NM LIKE CONCAT('%', #{value}, '%')
	    	</if>
	    ORDER BY VOC.VOC_ID
    </select>
    
    <insert id="BM0403F0I0" parameterType="voiceInfoVO">
    	<selectKey keyProperty="vocId" resultType="String" order="BEFORE">
    		SELECT CONCAT('EV', LPAD(NEXTVAL(SEQ_BM_EV_VOC_INFO_0), 5, '0'))
    	</selectKey>
    	
    	INSERT INTO BM_VOC_INFO(
    		  VOC_ID
    		, VOC_NM
    		, PLAY_ST_DATE
    		, PLAY_TYPE
    		, KR_TTS
    		, SCR_TXT
    		, REMARK
    		, PLAY_TM
    		, VOC_DIV
    		, PLAY_ED_DATE
    		, CREATED_AT
    		, CREATED_BY
    		, CREATED_IP
    		, UPDATED_AT
    		, UPDATED_BY
    		, UPDATED_IP)
   		VALUES(
   			  #{vocId}
   			, #{vocNm}
   			, #{playStDate}
   			, #{playType}
   			, #{krTts}
   			, #{scrTxt}
   			, #{remark}
   			, #{playTm}
   			, 'CD027'
   			, #{playEdDate}
   			, #{createdAt}
   			, #{createdBy}
   			, #{createdIp}
   			, #{updatedAt}
   			, #{updatedBy}
   			, #{updatedIp}
   		)
    </insert>
    
    <update id="BM0403F0U0" parameterType="voiceInfoVO">
    	UPDATE BM_VOC_INFO
    	SET
    		  VOC_NM		=	#{vocNm}
    		, PLAY_ST_DATE	=	#{playStDate}
    		, PLAY_TYPE		=	#{playType}
    		, KR_TTS		=	#{krTts}
    		, SCR_TXT		=	#{scrTxt}
    		, REMARK		=	#{remark}
    		<if test="playTm != null">
    			, PLAY_TM		=	#{playTm}
    		</if>
    		, PLAY_ED_DATE	=	#{playEdDate}
    		, UPDATED_AT	=	#{updatedAt}
    		, UPDATED_BY	=	#{updatedBy}
    		, UPDATED_IP	=	#{updatedIp}
    	WHERE
    		VOC_ID = #{vocId}
    </update>
    
    <delete id="BM0403G0D0" parameterType="voiceInfoVO">
    	DELETE
    		FROM BM_VOC_INFO
    	WHERE
    		VOC_ID = #{vocId}
    </delete>
    
    
    
    <!-- 2021 03 04 실내 LED용 -->
    <insert id="insertTxt" parameterType="voiceInfoVO">
    	<selectKey keyProperty="ildId" resultType="String" order="BEFORE">
    		SELECT CONCAT('ILD', LPAD(NEXTVAL(SEQ_BM_INNER_LED_0), 5, '0'))
    	</selectKey>
    	INSERT INTO BM_INNER_LED(
    		  ILD_ID
    		, TXT_A
    		, TXT_B
    		, VOC_ID
    		, TXT_CD
    		, CREATED_AT
    		, CREATED_BY
    		, UPDATED_AT
    		, UPDATED_BY)
    	VALUES(
    		  #{ildId}
    		, REPLACE(REPLACE(#{txtA}, '\r\n', ' '), '\r', '')
    		, REPLACE(REPLACE(#{txtB}, '\r\n', ' '), '\r', '')
    		, CONCAT(#{vocId}, 'K')
    		, 'CD006'
    		, #{createdAt}
    		, #{createdBy}
    		, #{updatedAt}
    		, #{updatedBy}
    		)
    </insert>
    
   	<update id="updateTxt" parameterType="voiceInfoVO">
	   	UPDATE BM_INNER_LED
	    	SET
	    		  TXT_A			=	REPLACE(REPLACE(#{txtA}, '\r\n', ' '), '\r', '')
	    		, TXT_B			=	REPLACE(REPLACE(#{txtB}, '\r\n', ' '), '\r', '')
	    		, TXT_CD		=	'CD006'
	    		, UPDATED_AT	=	#{updatedAt}
	    		, UPDATED_BY	=	#{updatedBy}
	    	WHERE
	    		VOC_ID = CONCAT(#{vocId}, 'K')
    </update>
    
    <delete id="deleteTxt" parameterType="voiceInfoVO">
    	DELETE
    		FROM BM_INNER_LED
    	WHERE
    		VOC_ID = CONCAT(#{vocId}, 'K')
    </delete>
    
    <select id="isExists" parameterType="voiceInfoVO" resultType="String">
    	SELECT
    		COUNT(*) AS COUNT
    	FROM
    		BM_INNER_LED
    	WHERE
    		VOC_ID = CONCAT(#{vocId}, 'K')
    </select>
</mapper>