<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tracom.brt.domain.BM0104.BM0104Mapper">

	<select id="BM0104G0S0" parameterType="String" resultType="bmRoutInfoVO">
		
		SELECT
			  ROUT_ID
			, INTER_ROUT_ID
		    , ROUT_NM
		    , SHORT_ROUT_NM
		    , WAY_INFO
		    , DIR_INFO
		    , CD.DL_CD AS WAY_DIV
		    , CD.DL_CD_NM AS WAY_DIV_NM
		    , CD2.DL_CD AS USER_WAY_DIV
		    , CD2.DL_CD_NM AS USER_WAY_DIV_NM
		    , TURN_DIV
		    , CD3.DL_CD_NM AS TURN_DIV_NM
			, ST_STA_NM
		    , ED_STA_NM
		    , DVC_NAME
		    , LINE1_STR
		    , LINE2_STR
		    , LINE1_SATSTR
		    , LINE2_SATSTR
		    , LINE1_SUNSTR
		    , LINE2_SUNSTR
		    , DATE_FORMAT(ROUT.CREATED_AT, '%Y-%m-%d %T') AS CREATED_AT
		    , ROUT.CREATED_BY
		    , DATE_FORMAT(ROUT.UPDATED_AT, '%Y-%m-%d %T') AS UPDATED_AT
		    , ROUT.UPDATED_BY
		FROM
			BM_ROUT_INFO ROUT
		    LEFT JOIN SM_DL_CD_INFO CD
		    ON ROUT.WAY_DIV = CD.TXT_VAL1
		    AND CD.CO_CD = 'UPDOWN_FLAG'
		    LEFT JOIN SM_DL_CD_INFO CD2
		    ON ROUT.USER_WAY_DIV = CD2.TXT_VAL1 
			AND CD2.CO_CD = 'UPDOWN_FLAG'
		    LEFT JOIN SM_DL_CD_INFO CD3
		    ON ROUT.TURN_DIV = CD3.TXT_VAL1
		    AND CD3.CO_CD = 'WAYDIV_FLAG'
			
		<where>
			<if test="value != null">
				ROUT_ID LIKE CONCAT('%', #{value}, '%')
			    OR
			    ROUT_NM LIKE CONCAT('%', #{value}, '%')
	    	</if>
		</where>
    </select>
    
	<select id="BM0104G1S0" parameterType="Map" resultType="bmRoutNodeInfoVO">
		SELECT
			  NI.STA_ID
		    , SI.STA_NM
		    , SI.STA_NO
		    , SI.LATI
		    , SI.LONGI
		    , SI.UPDATED_AT
		FROM
			BM_ROUT_NODE_INFO NI
		    LEFT JOIN
			BM_STA_INFO SI
		    ON NI.STA_ID = SI.STA_ID
		WHERE
			ROUT_ID = #{routId}
		    AND
			NI.STA_ID IS NOT NULL
			<if test="value != null">
				AND(
				NI.STA_ID LIKE CONCAT('%', #{filter1}, '%')
				OR
				SI.STA_NM LIKE CONCAT('%', #{filter1}, '%')
				OR
				SI.STA_NO LIKE CONCAT('%', #{filter1}, '%')
				)
	    	</if>
		ORDER BY SEQ
    </select>
    
    <insert id="BM0104G0I0" parameterType="bmRoutInfoVO">
    	INSERT INTO
			BM_ROUT_INFO(
						  ROUT_ID
						, INTER_ROUT_ID
						, ROUT_NM
						, SHORT_ROUT_NM
						, DVC_NAME
						, WAY_INFO
						, DIR_INFO						
						, ST_STA_NM
		                , ED_STA_NM
		                , CREATED_AT
		                , CREATED_BY
		                , UPDATED_AT
		                , UPDATED_BY
		                )
		                
			VALUES 
			<foreach collection="voList" item="voList" separator=",">
					( #{voList.routId}
					, #{voList.routId}
					, #{voList.routNm}
					, #{voList.routNm}<!-- SHORT ROUT NM -->
					, #{voList.routNm}<!-- DVC NM -->
					, SUBSTR(#{voList.stStaNm}, 1, 10)<!-- WAY_INFO -->
			        , SUBSTR(#{voList.edStaNm}, 1, 10)<!-- DIR_INFO --> 
			        , #{voList.stStaNm}
			        , #{voList.edStaNm}
			        , #{voList.createdAt}
			        , #{voList.createdBy}
			        , #{voList.updatedAt}
			        , #{voList.updatedBy}
			        )
			</foreach>
			ON DUPLICATE KEY UPDATE
			      <!-- 
			       ROUT_ID		= VALUES(ROUT_ID)
			       -->
				  ROUT_NM		= VALUES(ROUT_NM)
				, ST_STA_NM		= VALUES(ST_STA_NM)
				, ED_STA_NM		= VALUES(ED_STA_NM)
				, UPDATED_AT	= VALUES(UPDATED_AT)
				, UPDATED_BY	= VALUES(UPDATED_BY)
    </insert>

	<select id="BM0104G1S2" parameterType="bmRoutInfoVO" resultType="String">
		SELECT
			WAY_DIV
		FROM
			BM_ROUT_INFO
		WHERE
			INTER_ROUT_ID = #{interRoutId}
	</select>
	
	<update id="BM0104G0U0" parameterType="bmRoutInfoVO">
		UPDATE
			BM_ROUT_INFO
		SET
			  WAY_DIV		= #{wayDiv}
			, USER_WAY_DIV 	= #{wayDiv}
		    , TURN_DIV		= #{turnDiv}
		    , UPDATED_AT	= #{updatedAt}
		    , UPDATED_BY	= #{updatedBy}
		WHERE
			INTER_ROUT_ID = #{interRoutId}
	</update>
	
	<update id="BM0104G0U2" parameterType="bmRoutInfoVO">
		UPDATE
			BM_ROUT_INFO
		SET
			  WAY_DIV		= #{wayDiv}
		    , TURN_DIV		= #{turnDiv}
		    , UPDATED_AT	= #{updatedAt}
		    , UPDATED_BY	= #{updatedBy}
		WHERE
			INTER_ROUT_ID = #{interRoutId}
	</update>
	
	
	<update id="BM0104G0U1" parameterType="bmRoutInfoVO">
		<foreach collection="voList" item="voList" separator=";">
		UPDATE
			BM_ROUT_INFO
		SET
			  SHORT_ROUT_NM	= #{voList.shortRoutNm}
			, WAY_INFO		= #{voList.wayInfo}
		    , USER_WAY_DIV	= #{voList.userWayDiv}
		    , DVC_NAME		= #{voList.dvcName}
		    , LINE1_STR		= #{voList.line1Str}
		    , LINE2_STR		= #{voList.line2Str}
		    , LINE1_SATSTR	= #{voList.line1Satstr}
		    , LINE2_SATSTR	= #{voList.line2Satstr}
		    , LINE1_SUNSTR	= #{voList.line1Sunstr}
		    , LINE2_SUNSTR	= #{voList.line2Sunstr}
		    , UPDATED_AT	= #{voList.updatedAt}
		    , UPDATED_BY	= #{voList.updatedBy}
		WHERE
			ROUT_ID = #{voList.routId}
		</foreach>
	</update>
	
	<select id="BM0104F0S1" parameterType="bmRoutInfoVO" resultType="Integer">
		SELECT
			COUNT(*)
		FROM 
			BM_ROUT_INFO
		WHERE
			ROUT_ID != #{routId}
			AND
			INTER_ROUT_ID = #{interRoutId}
	</select>
	
	<insert id="BM0104F0I0" parameterType="bmRoutInfoVO">
		<selectKey keyProperty="routId" resultType="String" order="BEFORE">
    		SELECT CONCAT('ROUT', LPAD(NEXTVAL(SEQ_BM_ROUT_INFO_0), 5, '0'))
    	</selectKey>
		INSERT INTO
			BM_ROUT_INFO(
				  ROUT_ID
		        , INTER_ROUT_ID
		        , ROUT_NM
		        , SHORT_ROUT_NM
		        , WAY_INFO
		        , DIR_INFO
		        , WAY_DIV
		        , USER_WAY_DIV
		        , ST_STA_NM
		        , ED_STA_NM
		        , DVC_NAME
		        , LINE1_STR
		        , LINE2_STR
		        , LINE1_SATSTR
		        , LINE2_SATSTR
		        , LINE1_SUNSTR
		        , LINE2_SUNSTR
		        )
			VALUES(
				    #{routId}
				  , #{interRoutId}
				  , #{routNm}
				  , #{shortRoutNm}
				  , #{wayInfo}
				  , #{dirInfo}
  				  , (SELECT TXT_VAL1 FROM SM_DL_CD_INFO WHERE CO_CD = 'UPDOWN_FLAG' AND DL_CD = #{wayDiv})
				  , (SELECT TXT_VAL1 FROM SM_DL_CD_INFO WHERE CO_CD = 'UPDOWN_FLAG' AND DL_CD = #{userWayDiv})
				  , #{stStaNm}
				  , #{edStaNm}
				  , #{dvcName}
				  , #{line1Str}
				  , #{line2Str}
				  , #{line1Satstr}
				  , #{line2Satstr}
				  , #{line1Sunstr}
				  , #{line2Sunstr}
				  )
	</insert>
	
	<update id="BM0104F0U0" parameterType="bmRoutInfoVO">
		UPDATE BM_ROUT_INFO
		SET
			  INTER_ROUT_ID	= #{interRoutId}
		    , ROUT_NM 		= #{routNm}
		    , SHORT_ROUT_NM	= #{shortRoutNm}
		    , WAY_INFO		= #{wayInfo}
		   	, DIR_INFO		= #{dirInfo}
		   	, WAY_DIV		= (SELECT TXT_VAL1 FROM SM_DL_CD_INFO WHERE CO_CD = 'UPDOWN_FLAG' AND DL_CD = #{wayDiv})
		    , USER_WAY_DIV	= (SELECT TXT_VAL1 FROM SM_DL_CD_INFO WHERE CO_CD = 'UPDOWN_FLAG' AND DL_CD = #{userWayDiv})
		    , ST_STA_NM		= #{stStaNm}
		    , ED_STA_NM		= #{edStaNm}
		    , DVC_NAME		= #{dvcName}
		    , LINE1_STR		= #{line1Str}
		    , LINE2_STR		= #{line2Str}
		    , LINE1_SATSTR	= #{line1Satstr}
		    , LINE2_SATSTR	= #{line2Satstr}
		    , LINE1_SUNSTR	= #{line1Sunstr}
		    , LINE2_SUNSTR	= #{line2Sunstr}
		 WHERE
		 	ROUT_ID = #{routId}
	</update>
	
	<delete id="BM0104F0D0" parameterType="bmRoutInfoVO">
		DELETE FROM
			BM_ROUT_INFO
		WHERE
			INTER_ROUT_ID = #{interRoutId}
	</delete>
</mapper>