<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tracom.brt.domain.BM0104.BM0104Mapper">

	<select id="BM0104G0S0" parameterType="String" resultType="bmRoutInfoVO">
		
		SELECT
			  ROUT_ID
		    , ROUT_NM
		    , SHORT_ROUT_NM
		    , WAY_INFO
		    , DIR_INFO
		    , WAY_DIV
		    , CD.DL_CD_NM AS WAY_DIV_NM
		    <!-- 
		     , USER_WAY_DIV
		     -->
		    , CD2.DL_CD_NM AS USER_WAY_DIV
		    , TURN_DIV
		    , CD3.DL_CD_NM AS TURN_DIV_NM
			, ST_STA_NM
		    , ED_STA_NM
		    , DVC_NAME
		    , LINE1_STR
		    , LINE2_STR
		    , LINE1_SATSTR
		    , LINE2_SATSTR
		    , LINE1_SUNSTR
		    , LINE2_SUNSTR
		    , DATE_FORMAT(ROUT.CREATED_AT, '%Y-%m-%d %T') AS CREATED_AT
		    , ROUT.CREATED_BY
		    , DATE_FORMAT(ROUT.UPDATED_AT, '%Y-%m-%d %T') AS UPDATED_AT
		    , ROUT.UPDATED_BY
		    <!-- 
		    , ROUT.CREATED_AT
		    , ROUT.CREATED_BY
		    , ROUT.UPDATED_AT
		    , ROUT.UPDATED_BY
		     -->
		FROM
			BM_ROUT_INFO ROUT
		    LEFT JOIN
			(SELECT
				*
			FROM
				SM_DL_CD_INFO
			WHERE
				CO_CD = 'UPDOWN_FLAG') CD
			ON ROUT.WAY_DIV = CD.NUM_VAL4
		    
		    LEFT JOIN
			(SELECT
				*
			FROM
				SM_DL_CD_INFO
			WHERE
				CO_CD = 'UPDOWN_FLAG') CD2
			ON ROUT.USER_WAY_DIV = CD2.NUM_VAL4
		    
		    LEFT JOIN
		    (SELECT
				*
			FROM
				SM_DL_CD_INFO
			WHERE
				CO_CD = 'WAYDIV_FLAG') CD3
			ON ROUT.TURN_DIV = CD3.TXT_VAL1
		<where>
			<if test="value != null">
				ROUT_ID LIKE CONCAT('%', #{value}, '%')
			    OR
			    ROUT_NM LIKE CONCAT('%', #{value}, '%')
	    	</if>
		</where>
    </select>
    
	<select id="BM0104G1S0" parameterType="Map" resultType="bmRoutNodeInfoVO">
		SELECT
			  NI.STA_ID
		    , SI.STA_NM
		    , SI.STA_NO
		    , SI.LATI
		    , SI.LONGI
		    , SI.UPDATED_AT
		FROM
			BM_ROUT_NODE_INFO NI
		    LEFT JOIN
			BM_STA_INFO SI
		    ON NI.STA_ID = SI.STA_ID
		WHERE
			ROUT_ID = #{routId}
		    AND
			NI.STA_ID IS NOT NULL
			<if test="value != null">
				AND(
				NI.STA_ID LIKE CONCAT('%', #{filter1}, '%')
				OR
				SI.STA_NM LIKE CONCAT('%', #{filter1}, '%')
				OR
				SI.STA_NO LIKE CONCAT('%', #{filter1}, '%')
				)
	    	</if>
		ORDER BY SEQ
    </select>
    
    <insert id="BM0104G0I0" parameterType="bmRoutInfoVO">
    	INSERT INTO
			BM_ROUT_INFO(
						  ROUT_ID
						, ROUT_NM
						, ST_STA_NM
		                , ED_STA_NM
		                , CREATED_AT
		                , CREATED_BY
		                , UPDATED_AT
		                , UPDATED_BY
		                )
		                
			VALUES 
			<foreach collection="voList" item="voList" separator=",">
					( #{voList.routId}
					, #{voList.routNm}
			        , #{voList.stStaNm}
			        , #{voList.edStaNm}
			        , #{voList.createdAt}
			        , #{voList.createdBy}
			        , #{voList.updatedAt}
			        , #{voList.updatedBy}
			        )
			</foreach>
			ON DUPLICATE KEY UPDATE
			      <!-- 
			       ROUT_ID		= VALUES(ROUT_ID)
			       -->
				  ROUT_NM		= VALUES(ROUT_NM)
				, ST_STA_NM		= VALUES(ST_STA_NM)
				, ED_STA_NM		= VALUES(ED_STA_NM)
				, UPDATED_AT	= VALUES(UPDATED_AT)
				, UPDATED_BY	= VALUES(UPDATED_BY)
    </insert>

	<update id="BM0104G0U0" parameterType="bmRoutInfoVO">
		UPDATE
			BM_ROUT_INFO
		SET
			  WAY_DIV		= #{wayDiv}
		    , TURN_DIV		= #{turnDiv}
		    , UPDATED_AT	= #{updatedAt}
		    , UPDATED_BY	= #{updatedBy}
		WHERE
			ROUT_ID = #{routId}
	</update>
	
	<update id="BM0104G0U1" parameterType="bmRoutInfoVO">
		<foreach collection="voList" item="voList" separator=";">
		UPDATE
			BM_ROUT_INFO
		SET
			  SHORT_ROUT_NM	= #{voList.shortRoutNm}
			, WAY_INFO		= #{voList.wayInfo}
		    , USER_WAY_DIV	= #{voList.userWayDiv}
		    , DVC_NAME		= #{voList.dvcName}
		    , LINE1_STR		= #{voList.line1Str}
		    , LINE2_STR		= #{voList.line2Str}
		    , LINE1_SATSTR	= #{voList.line1Satstr}
		    , LINE2_SATSTR	= #{voList.line2Satstr}
		    , LINE1_SUNSTR	= #{voList.line1Sunstr}
		    , LINE2_SUNSTR	= #{voList.line2Sunstr}
		    , UPDATED_AT	= #{voList.updatedAt}
		    , UPDATED_BY	= #{voList.updatedBy}
		WHERE
			ROUT_ID = #{voList.routId}
		</foreach>
	</update>
	
	<select id="BM0104G0S2" resultType="bmRoutInfoVO">
		SELECT
			  DL_CD_NM AS NAME
		    , CAST(NUM_VAL4 AS INTEGER) AS CODE
		FROM
			SM_DL_CD_INFO
		WHERE
			CO_CD = 'UPDOWN_FLAG'
	</select>
</mapper>