<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tracom.brt.domain.BM0107.BM0107Mapper">

	<select id="BM0107G0S0" parameterType="String" resultType="bmRoutInfoVO">
		<!-- 
		SELECT
			  ROUT_ID
		    , ROUT_NM
		    , WAY_DIV
		    , SHORT_ROUT_NM
		    , UPDATED_AT
		FROM
			BM_ROUT_INFO
		 -->			
		SELECT
			  ROUT.ROUT_ID
		    , ROUT_NM
		    , STA_ID
		    , WAY_DIV
		    , SHORT_ROUT_NM
		    , UPDATED_AT
		FROM
			BM_ROUT_INFO ROUT
            LEFT JOIN BM_ROUT_STA_INFO STA
            ON ROUT.ROUT_ID = STA.ROUT_ID
		GROUP BY ROUT_ID
		HAVING STA_ID IS NOT NULL
		<where>
			<if test="value != null">
				ROUT_ID LIKE CONCAT('%', #{value}, '%')
			    OR
			    ROUT_NM LIKE CONCAT('%', #{value}, '%')
	    	</if>
		</where>
    </select>
    
	<select id="BM0107G1S0" parameterType="Map" resultType="bmRoutNodeInfoVO">
		SELECT
			  ROUT_ID
			, NODE_ID
		    , NODE_NM
		    , LATI
		    , LONGI 
		    , UPDATED_AT
		    , UPDATED_BY
		FROM
			BM_ROUT_NODE_INFO
		WHERE
			ROUT_ID = #{routId}

			<if test="value != null">
				AND(
				NI.STA_ID LIKE CONCAT('%', #{filter1}, '%')
				OR
				SI.STA_NM LIKE CONCAT('%', #{filter1}, '%')
				OR
				SI.STA_NO LIKE CONCAT('%', #{filter1}, '%')
				)
	    	</if>
		ORDER BY SEQ
    </select>
    
    <select id="BM0107M0S0" parameterType="bmRoutInfoVO" resultType="bmRoutNodeInfoVO">
		SELECT
			  ROUT_STA.STA_ID AS NODE_ID
		    , STA_NM AS NODE_NM
		    , LATI
		    , LONGI
		    , NULL AS SEQ
		    , ROUT_ID
		    , ROUT_STA.STA_ID AS STA_ID
		    , CREATED_AT
		    , CREATED_BY
		    , UPDATED_AT
		    , UPDATED_BY
		FROM
			BM_ROUT_STA_INFO ROUT_STA
		    LEFT JOIN 
			BM_STA_INFO STA
		    ON ROUT_STA.STA_ID = STA.STA_ID
		WHERE
			ROUT_ID = #{routId}
    </select>
    
    <insert id="BM0107G1I0" parameterType="bmRoutNodeInfoVO">
    	INSERT INTO
    		BM_ROUT_NODE_INFO
    			(
    				  NODE_ID
    				, NODE_NM
    				, LATI
    				, LONGI
    				, SEQ
    				, ROUT_ID
    				, STA_ID
    				, CREATED_AT
    				, CREATED_BY
    				, UPDATED_AT
    				, UPDATED_BY
    			)
		VALUES
			<foreach collection="voList" item="voList" separator=",">
			(
  			      CONCAT('VND', LPAD(NEXTVAL(SEQ_BM_ROUT_NODE_INFO_0), 6, '0'))
				, #{voList.nodeNm}
				, #{voList.lati}
				, #{voList.longi} 
				, #{voList.seq}
				, #{voList.routId}
				, #{voList.staId}
				, #{voList.createdAt}
				, #{voList.createdBy}
				, #{voList.updatedAt}
				, #{voList.updatedBy}
			)
			</foreach>
    </insert>
    
    <delete id="BM0107G1D0" parameterType="bmRoutInfoVO">
    	DELETE FROM
    		BM_ROUT_NODE_INFO
    	WHERE
    		ROUT_ID = #{routId}
    </delete>
</mapper>