<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tracom.brt.domain.BM0107.BM0107Mapper">

	<select id="BM0107G0S0" parameterType="String" resultType="bmRoutInfoVO">
		SELECT
			  ROUT_ID
			, INTER_ROUT_ID
		    , ROUT_NM
		    , WAY_DIV
		    , SHORT_ROUT_NM
		    , DATE_FORMAT(UPDATED_AT, '%Y-%m-%d %T') AS UPDATED_AT
		FROM
			BM_ROUT_INFO
		<where>
			<if test="value != null">
				ROUT_ID LIKE CONCAT('%', #{value}, '%')
			    OR
			    ROUT_NM LIKE CONCAT('%', #{value}, '%')
	    	</if>
		</where>
    </select>
    
	<select id="BM0107G1S0" parameterType="Map" resultType="bmRoutNodeInfoVO">
		SELECT
			  ROUT_ID
			, SEQ
			, NODE_TYPE
			, NODE_ID
		    , NODE_NM
		    , LATI
		    , LONGI 
		    , UPDATED_AT
		    , UPDATED_BY
		FROM
			BM_ROUT_NODE_INFO
		WHERE
			ROUT_ID = #{routId}

			<if test="filter1 != null">
				AND(
				NODE_ID LIKE CONCAT('%', #{filter1}, '%')
				OR
				NODE_NM LIKE CONCAT('%', #{filter1}, '%')
				)
	    	</if>
		ORDER BY SEQ
    </select>
    
    <select id="BM0107M0S0" parameterType="bmRoutInfoVO" resultType="bmRoutNodeInfoVO">
		SELECT
			  ROUT_STA.STA_ID AS NODE_ID
		    , STA_NM AS NODE_NM
		    , LATI
		    , LONGI
		    , NULL AS SEQ
		    , ROUT_ID
		    , ROUT_STA.STA_ID AS STA_ID
		    , CREATED_AT
		    , CREATED_BY
		    , UPDATED_AT
		    , UPDATED_BY
		FROM
			BM_ROUT_STA_INFO ROUT_STA
		    LEFT JOIN 
			BM_STA_INFO STA
		    ON ROUT_STA.STA_ID = STA.STA_ID
		WHERE
			ROUT_ID = #{routId}
    </select>
    
    <delete id="BM0107G2D0" parameterType="bmRoutNodeInfoVO">
    	DELETE FROM BM_ROUT_NODE_TRASH
    	WHERE ROUT_ID = #{routId};
    </delete>
    
    <insert id="BM0107G2I0" parameterType="bmRoutNodeInfoVO">
    	INSERT INTO
    		BM_ROUT_NODE_TRASH
		SELECT 
			  NODE.NODE_ID
		    , NODE.NODE_NM
		    , NODE.LATI
		    , NODE.LONGI
		    , NODE.SEQ
		    , NODE.ROUT_ID
		    , NODE.INTER_ROUT_ID
		    , NODE.STA_ID
		    , NODE.NODE_TYPE
		    , NODE.CREATED_AT
		    , NODE.CREATED_BY
		    , NODE.UPDATED_AT
		    , NODE.UPDATED_BY
		    , ROUT.PUB_DATE
		    , ROUT.PUB_SEQ
		FROM
			BM_ROUT_NODE_INFO NODE
		    LEFT JOIN
		    BM_ROUT_INFO ROUT
		    ON NODE.ROUT_ID = ROUT.ROUT_ID
	    WHERE
    		NODE.ROUT_ID = #{routId}
    </insert>
    
    <insert id="BM0107G1I0" parameterType="bmRoutNodeInfoVO">	    
    	INSERT INTO
    		BM_ROUT_NODE_INFO
    			(
    				  NODE_ID
    				, NODE_NM
    				, LATI
    				, LONGI
    				, SEQ
    				, ROUT_ID
    				, STA_ID
    				, NODE_TYPE
    				, CREATED_AT
    				, CREATED_BY
    				, UPDATED_AT
    				, UPDATED_BY
    			)
		VALUES
			<foreach collection="voList" item="voList" separator=",">
			(
				<choose>
					<when test="voList.nodeId != null">
						#{voList.nodeId}
					</when>
					<when test="voList.staId != null and voList.nodeId == null">
						#{voList.staId}
					</when>
					<when test="voList.staId == null and voList.nodeId == null">
	  			    	CONCAT('ND', LPAD(NEXTVAL(SEQ_BM_ROUT_NODE_INFO_0), 8, '0'))
					</when>
				</choose>
				, #{voList.nodeNm}
				, #{voList.lati}
				, #{voList.longi} 
				, #{voList.seq}
				, #{voList.routId}
				, #{voList.staId}
				, #{voList.nodeType}
				, #{voList.createdAt}
				, #{voList.createdBy}
				, #{voList.updatedAt}
				, #{voList.updatedBy}
			)
			</foreach>
			
    </insert>
    
    <insert id="BM0107G3I1" parameterType="bmRoutNodeInfoVO">
    	INSERT INTO
    		BM_ROUT_RESULT
    			(
    				  NODE_ID
    				, NODE_NM
    				, NODE_TYPE
    				, LATI
    				, LONGI
    				, SEQ
    				, ROUT_ID
    			)
		VALUES
			<foreach collection="voList" item="voList" separator=",">
			(
			  	  #{voList.nodeId}
			  	, #{voList.nodeNm}
				, #{voList.nodeType}
				, #{voList.lati}
				, #{voList.longi} 
				, #{voList.seq}
				, #{voList.routId}
			)
			</foreach>   
    
    </insert>
   
    <delete id="BM0107G3D0" parameterType="bmRoutInfoVO">
    	DELETE FROM
    		BM_ROUT_RESULT
    	WHERE
    		ROUT_ID = #{routId}
    </delete>
    
    <delete id="BM0107G1D0" parameterType="bmRoutInfoVO">
    	DELETE FROM
    		BM_ROUT_NODE_INFO
    	WHERE
    		ROUT_ID = #{routId}
    </delete>
    
 	<insert id="BM0107G1I1" parameterType="bmRoutInfoVO">
 		INSERT INTO
 			BM_ROUT_NODE_TRASH
		
			SELECT
				*
			FROM
				BM_ROUT_NODE_INFO
			WHERE
				ROUT_ID = #{routId}
 	</insert>
 	
 	<select id="BM0107G4S0" parameterType="bmRoutInfoVO" resultType="bmRoutNodeInfoVO">
 		SELECT
			  ORGA_ID AS NODE_ID
		    , ORGA_NM AS NODE_NM
		    , LATI
		    , LONGI
		    , '898' AS NODE_TYPE
		    , ROUT_ID
		    , CREATED_AT
		    , CREATED_BY
		    , UPDATED_AT
		    , UPDATED_BY
		FROM
			BM_VOC_ORGA
		WHERE
			ROUT_ID = #{routId}
 	</select>
 	
 	
 	<delete id="BM0107G1D1" parameterType="bmRoutInfoVO">
 		DELETE
			
		FROM
			BM_ROUT_NODE_INFO
		WHERE
			ROUT_ID = #{routId}
		    AND
		    NODE_ID = #{nodeId}
		;
		
		DELETE
		FROM
			BM_ROUT_RESULT
		WHERE
			ROUT_ID = #{routId}
			AND
			NODE_ID = #{nodeId}
		;
 	</delete>
 	

</mapper>