<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tracom.brt.domain.AD0106.AD0106Mapper">
	<select id="AD0106G0S0" parameterType="String" resultType="adInstDlVO">
		SELECT M.AD_ROUT, M.AD_LVL_NM, M.VHC_ID, M.VHC_NO, M.AD_POS_TYPE_NM, M.AD_POS_NM
			, CASE M.ED_SEQ WHEN 0 THEN M.AD_ED_DATE END ED_MONTH0
			, CASE M.ST_SEQ WHEN 0 THEN M.AD_ST_DATE END ST_MONTH0
			, CASE M.ED_SEQ WHEN 1 THEN M.AD_ED_DATE END ED_MONTH1	
			, CASE M.ST_SEQ WHEN 1 THEN M.AD_ST_DATE END ST_MONTH1
			, CASE M.ED_SEQ WHEN 2 THEN M.AD_ED_DATE END ED_MONTH2
			, CASE M.ST_SEQ WHEN 2 THEN M.AD_ST_DATE END ST_MONTH2
			, CASE M.ED_SEQ WHEN 3 THEN M.AD_ED_DATE END ED_MONTH3
			, CASE M.ST_SEQ WHEN 3 THEN M.AD_ST_DATE END ST_MONTH3
			, CASE M.ED_SEQ WHEN 4 THEN M.AD_ED_DATE END ED_MONTH4
			, CASE M.ST_SEQ WHEN 4 THEN M.AD_ST_DATE END ST_MONTH4
			, CASE M.ED_SEQ WHEN 5 THEN M.AD_ED_DATE END ED_MONTH5
			, CASE M.ST_SEQ WHEN 5 THEN M.AD_ST_DATE END ST_MONTH5
			, CASE M.ED_SEQ WHEN 6 THEN M.AD_ED_DATE END ED_MONTH6
			, CASE M.ST_SEQ WHEN 6 THEN M.AD_ST_DATE END ST_MONTH6
			, CASE M.ED_SEQ WHEN 7 THEN M.AD_ED_DATE END ED_MONTH7
			, CASE M.ST_SEQ WHEN 7 THEN M.AD_ST_DATE END ST_MONTH7
			, CASE M.ED_SEQ WHEN 8 THEN M.AD_ED_DATE END ED_MONTH8
			, CASE M.ST_SEQ WHEN 8 THEN M.AD_ST_DATE END ST_MONTH8
			, CASE M.ED_SEQ WHEN 9 THEN M.AD_ED_DATE END ED_MONTH9
			, CASE M.ST_SEQ WHEN 9 THEN M.AD_ST_DATE END ST_MONTH9
			, CASE M.ED_SEQ WHEN 10 THEN M.AD_ED_DATE END ED_MONTH10
			, CASE M.ST_SEQ WHEN 10 THEN M.AD_ST_DATE END ST_MONTH10
			, CASE M.ED_SEQ WHEN 11 THEN M.AD_ED_DATE END ED_MONTH11
			, CASE M.ST_SEQ WHEN 11 THEN M.AD_ST_DATE END ST_MONTH11
			, CASE M.ED_SEQ WHEN 12 THEN M.AD_ED_DATE END ED_MONTH12
			, CASE M.ST_SEQ WHEN 12 THEN M.AD_ST_DATE END ST_MONTH12
		FROM
		(
			SELECT A.VHC_ID
				, A.AD_POS
				, G.TXT_VAL1 AD_POS_TYPE_NM
				, G.DL_CD_NM AD_POS_NM
				, G.SORT_ODR
				, D.VHC_NO
				, D.AD_ROUT
				, E.DL_CD_NM AD_LVL_NM
				, F2.ST_SEQ
				, C.AD_ST_DATE
				, T2.ED_SEQ
				, C.AD_ED_DATE
			FROM AD_VHC_INFO A
			LEFT JOIN AD_INST_DL B
				ON A.VHC_ID = B.VHC_ID
				AND A.AD_POS = B.AD_POS
			LEFT JOIN AD_INST_INFO C
				ON B.INST_ID = C.INST_ID
			LEFT JOIN BM_VHC_INFO D
				ON A.VHC_ID = D.VHC_ID
			LEFT JOIN SM_DL_CD_INFO E
				ON D.AD_LVL = E.DL_CD
				AND E.CO_CD = 'AD_LVL'
			LEFT JOIN SM_DL_CD_INFO G
				ON A.AD_POS = G.DL_CD
				AND G.CO_CD = 'AD_POS'
			LEFT JOIN 
				(
					SELECT F1.M AS ST_SEQ, DATE_FORMAT(DATE_ADD(CONCAT(F0.YMONTH, '01'), INTERVAL F1.M MONTH ), '%Y%m') AS ST_MONTH FROM
					( SELECT DATE_FORMAT(STR_TO_DATE(#{date}, '%Y-%m'), '%Y%m') AS YMONTH FROM DUAL) F0,
					(SELECT 0 M
					   UNION ALL SELECT 1
					   UNION ALL SELECT 2
					   UNION ALL SELECT 3
					   UNION ALL SELECT 4
					   UNION ALL SELECT 5
					   UNION ALL SELECT 6
					   UNION ALL SELECT 7
					   UNION ALL SELECT 8
					   UNION ALL SELECT 9
					   UNION ALL SELECT 10
					   UNION ALL SELECT 11
					   UNION ALL SELECT 12
					) F1 
				) F2
				ON DATE_FORMAT(C.AD_ST_DATE, '%Y%m') = F2.ST_MONTH
			LEFT JOIN
				(
					SELECT T1.M AS ED_SEQ, DATE_FORMAT(DATE_ADD(CONCAT(T0.YMONTH, '01'), INTERVAL T1.M MONTH ), '%Y%m') AS ED_MONTH FROM
					( SELECT DATE_FORMAT(STR_TO_DATE(#{date}, '%Y-%m'), '%Y%m') AS YMONTH FROM DUAL) T0,
					(SELECT 0 M
					   UNION ALL SELECT 1
					   UNION ALL SELECT 2
					   UNION ALL SELECT 3
					   UNION ALL SELECT 4
					   UNION ALL SELECT 5
					   UNION ALL SELECT 6
					   UNION ALL SELECT 7
					   UNION ALL SELECT 8
					   UNION ALL SELECT 9
					   UNION ALL SELECT 10
					   UNION ALL SELECT 11
					   UNION ALL SELECT 12
					) T1 
				) T2
				ON DATE_FORMAT(C.AD_ED_DATE, '%Y%m') = T2.ED_MONTH
			WHERE C.CONFIRM_YN = 'Y'
		) M ORDER BY AD_ROUT, AD_LVL_NM, VHC_NO ASC, AD_POS_TYPE_NM DESC, SORT_ODR ASC
	</select>
</mapper>