<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tracom.brt.domain.BM0801.BM0801Mapper">
	<select id="BM0801G0S0" parameterType="hashmap" resultType="StatisticsVO">
		SELECT
			*
		FROM
			(SELECT
				  H.VHC_NO
				, DATE_FORMAT(A.PLAY_DATE, '%Y-%m-%d %H:%i:%s') AS PLAY_DATE
				, A.ID
				, IFNULL(DC1.DL_CD_NM, DC2.DL_CD_NM) AS AD_TYPE
				, IFNULL(V.VOC_NM, VD.VDO_NM) AS AD_NM
			FROM
				BM_AD_LOG A
				LEFT OUTER JOIN BM_DVC_INFO D
				ON A.MNG_ID = D.MNG_ID
				LEFT OUTER JOIN BM_VHC_INFO H
				ON D.VHC_ID = H.VHC_ID
				LEFT OUTER JOIN BM_VOC_INFO V
				ON A.ID = V.VOC_ID
				LEFT OUTER JOIN BM_VDO_INFO VD
				ON A.ID = VD.VDO_ID
				LEFT OUTER JOIN SM_DL_CD_INFO DC1
				ON LEFT(A.ID, 2) = DC1.TXT_VAL1
				AND DC1.CO_CD = 'VOC_DIV'
				LEFT OUTER JOIN SM_DL_CD_INFO DC2
				ON LEFT(A.ID, 2) = DC2.TXT_VAL1
				AND DC2.CO_CD = 'VDO_DIV') R
		<where>
	    	<if test="playStDate != null and playEdDate != null">
	    	    PLAY_DATE &gt;= DATE_FORMAT(#{playStDate}, '%Y-%m-%d %H:%i:%s')
	    	    AND PLAY_DATE &lt;= CONCAT(#{playEdDate}, ' 23:59:59')
	    	</if>
			<if test="filter != null">
				AND ID LIKE CONCAT('%', #{filter}, '%')
				OR AD_NM LIKE CONCAT('%', #{filter}, '%')
	    	</if>
    	</where>
    	ORDER BY VHC_NO ASC, PLAY_DATE DESC
	</select>
	
	<insert id="insertAdLog" parameterType="hashmap">
		INSERT INTO BM_AD_LOG(
			  PLAY_DATE
			, MNG_ID
			, ID
			, AD_TYPE
			, AD_NM
		)
		VALUES
		<foreach collection="list" item="item" separator=",">
		(
			  #{item.playDate}
			, #{item.mngId}
			, #{item.id}
			, #{adType}
			, #{adNm}
		)
		</foreach>
	</insert>
</mapper>