<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tracom.brt.domain.BM0203.BM0203Mapper">

<select id="BM0203G0S0" parameterType="String" resultType="dvcConditionVO">
		SELECT
    		  DI.DVC_ID
    		, DI.MNG_ID
    		, MAX(DC.DVC_COND) AS DVC_COND
    		, V.VHC_ID
    		, V.VHC_NO
    		, V.CHAS_NO
    		, CP.CORP_NM AS CORP_NM
    		, V.AREA
    		, V.MAKER
    		, V.RELS_DATE
    		, V.MODEL_NM
    		, DL1.DL_CD_NM AS VHC_KIND
    		, DL2.DL_CD_NM AS VHC_TYPE
    		, DL3.DL_CD_NM AS LF_YN
    		, DL4.DL_CD_NM AS VHC_FUEL
    		, V.REMARK
    		, V.USE_YN
    		, MAX(CHAR_LENGTH(DL0.DL_CD_NM)) AS DL_CD_NM
    	FROM
    		BM_DVC_INFO DI
    		LEFT OUTER JOIN BM_DVC_COND DC
    		ON DI.MNG_ID = DC.MNG_ID
    		LEFT OUTER JOIN BM_VHC_INFO V
    		ON DI.VHC_ID = V.VHC_ID
    		LEFT OUTER JOIN SM_DL_CD_INFO DL0
    		ON DVC_COND = DL0.DL_CD
    		LEFT OUTER JOIN SM_DL_CD_INFO DL1
    		ON V.VHC_KIND = DL1.DL_CD
    		LEFT OUTER JOIN SM_DL_CD_INFO DL2
    		ON V.VHC_TYPE = DL2.DL_CD
    		LEFT OUTER JOIN SM_DL_CD_INFO DL3
    		ON V.LF_YN = DL3.DL_CD
    		LEFT OUTER JOIN SM_DL_CD_INFO DL4
    		ON V.VHC_FUEL = DL4.DL_CD
			LEFT OUTER JOIN BM_CORP_INFO CP
			ON V.CORP_ID = CP.CORP_ID
    	<where>
	    	<if test="value != null">
				V.VHC_ID LIKE CONCAT('%', #{value}, '%')
				OR V.VHC_NO LIKE CONCAT('%', #{value}, '%')
	    	</if>
    	</where>
    	GROUP BY VHC_ID
</select>

<select id="BM0203G1S0" parameterType="String" resultType="dvcConditionVO">
		SELECT
    		  DI.DVC_ID
    		, DL0.DL_CD_NM AS DVC_KIND 
    		, DL1.DL_CD_NM AS MAKER
			, DL2.DL_CD_NM AS DVC_TYPE
			, DL3.DL_CD_NM AS INST_LOC
			, DL4.DL_CD_NM AS DVC_COND
			, DI.MNG_ID
			, DI.DVC_IP
			, DI.REMARK    		
    		, V.VHC_ID
    		, DL3.TXT_VAL1
    		, DL3.TXT_VAL2
    	FROM
    		BM_DVC_INFO DI
    		LEFT OUTER JOIN BM_DVC_COND DC
    		ON DI.MNG_ID = DC.MNG_ID
    		LEFT OUTER JOIN BM_VHC_INFO V
    		ON DI.VHC_ID = V.VHC_ID
    		LEFT OUTER JOIN SM_DL_CD_INFO DL0
			ON DI.DVC_KIND = DL0.DL_CD
			LEFT OUTER JOIN SM_DL_CD_INFO DL1
			ON DI.MAKER = DL1.DL_CD
			LEFT OUTER JOIN SM_DL_CD_INFO DL2
			ON DI.DVC_TYPE = DL2.DL_CD
			LEFT OUTER JOIN SM_DL_CD_INFO DL3
			ON DI.INST_LOC = DL3.DL_CD
			LEFT OUTER JOIN SM_DL_CD_INFO DL4
			ON DC.DVC_COND = DL4.DL_CD
		WHERE
			DI.VHC_ID = #{value}
</select>

</mapper>