<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tracom.brt.domain.BM0204.BM0204Mapper">

<select id="BM0204G0S0" parameterType="String" resultType="obeConditionVO">
		SELECT
    		  DI.DVC_ID
    		, DI.MNG_ID
    		, DI.REMARK
    		, V.VHC_NO
    		, CO.CORP_NM
    		, LOC.LATI
    		, LOC.LONGI
    		, LOC.SPD
    		, LOC.HEADING
    		, DATE_FORMAT(LOC.SEND_DATE, '%Y-%m-%d %H:%i:%s') AS SEND_DATE
    	FROM
    		BM_DVC_INFO DI
    		LEFT OUTER JOIN BM_VHC_INFO V
    		ON DI.VHC_ID = V.VHC_ID
    		LEFT OUTER JOIN BM_DVC_LOC LOC
    		ON DI.MNG_ID = LOC.MNG_ID
    		LEFT OUTER JOIN BM_CORP_INFO CO
    		ON V.CORP_ID = CO.CORP_ID
    	<where>
	    	<if test="value != null">
				DI.MNG_ID LIKE CONCAT('%', #{value}, '%')
				AND
	    	</if>
    			DI.DVC_KIND = "CD005"
    	</where>
    	ORDER BY DI.MNG_ID
</select>

</mapper>