<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tracom.brt.domain.BM0302.BM0302Mapper">

    <select id="BM0302G1S0" parameterType="String" resultType="altContractInfoVO">
    	SELECT
    	  	  C.CON_ID
    	  	, AT.CON_ID
    	  	, AT.SEQ
    	  	, DL.DL_CD_NM AS ALT_DIV
    	  	, AT.ALT_CON_DATE
    	  	, AT.CON_ST_DATE
    	  	, AT.CON_ED_DATE
    	  	, AT.SUPP_AMT
    	  	, AT.VAT_AMT
    	  	, AT.REMARK
    	  	, AT.CONFIRM_YN
    	  	, AT.CON_NO
    	  	, CU.CUST_NM
    	FROM
    		BM_CON_INFO C
    		LEFT OUTER JOIN BM_CON_ALT AT
    		ON C.CON_ID = AT.CON_ID
    		LEFT OUTER JOIN BM_CUST_INFO CU
    		ON C.CUST_ID = CU.CUST_ID
    		LEFT OUTER JOIN SM_DL_CD_INFO DL
    		ON AT.ALT_DIV = DL.DL_CD
    	WHERE
    		C.CON_ID = #{value}
    	ORDER BY CON_ED_DATE DESC
    </select>
    
    <select id="BM0302G0S0" parameterType="String" resultType="altContractInfoVO">
		SELECT
		 	*
		FROM
			(SELECT
				A.CON_ID
			 , A.CON_NM
			 , A.CONFIRM_YN
			 , IFNULL(B.CON_ST_DATE,A.CON_ST_DATE) AS CON_ST_DATE
			 , IFNULL(B.CON_ED_DATE,A.CON_ED_DATE) AS CON_ED_DATE
			 , IFNULL(B.ALT_DIV, "신규") AS ALT_DIV
			 , IFNULL(B.SUPP_AMT, A.SUPP_AMT) AS SUPP_AMT
			 , IFNULL(B.VAT_AMT, A.VAT_AMT) AS VAT_AMT
			 , IFNULL(B.REMARK , A.REMARK) AS REMARK
			FROM
				(SELECT
				   CON_ID
				,  CON_NM
				,  CON_ST_DATE
				,  CON_ED_DATE
				,  SUPP_AMT
				,  VAT_AMT
				,  CONFIRM_YN
				,  REMARK
				FROM
					BM_CON_INFO
				WHERE
					CONFIRM_YN = "Y" ) AS A
					LEFT OUTER JOIN 
				(SELECT
					 C.CON_ID
				  , C.CON_ST_DATE
				  , C.CON_ED_DATE
				  , C.ALT_DIV
				  , C.SUPP_AMT
				  , C.VAT_AMT
				  , C.REMARK 
				FROM
					(SELECT
					  AL.SEQ
					, DL.DL_CD_NM AS ALT_DIV
					, AL.CON_ID
					, CI.CON_NM
					, AL.CON_ST_DATE
					, AL.CON_ED_DATE
					, AL.CONFIRM_YN
					, AL.SUPP_AMT
					, AL.VAT_AMT
					, AL.REMARK	
					FROM
					   BM_CON_ALT AL
						LEFT OUTER JOIN BM_CON_INFO CI
						ON AL.CON_ID = CI.CON_ID
						LEFT OUTER JOIN SM_DL_CD_INFO DL
						ON AL.ALT_DIV = DL.DL_CD
					WHERE
						AL.CONFIRM_YN = "Y"		
					GROUP BY AL.SEQ DESC ) AS C
				GROUP BY C.CON_ID) AS B				
				ON B.CON_ID = A.CON_ID ) AS D
				WHERE
				CON_ED_DATE > NOW()
				AND
				ALT_DIV != "종료"				
				<if test="value != null">
					AND		
						( CON_ID LIKE CONCAT('%', #{value}, '%')
						OR ALT_DIV LIKE CONCAT('%', #{value}, '%'))
			    </if>		
    </select>
    
    <select id="BM0302G0S1" parameterType="String" resultType="altContractInfoVO">
		SELECT
		 *
		FROM
			(SELECT
				A.CON_ID
			 , A.CON_NM
			 , A.CONFIRM_YN
			 , IFNULL(B.CON_ST_DATE,A.CON_ST_DATE) AS CON_ST_DATE
			 , IFNULL(B.CON_ED_DATE,A.CON_ED_DATE) AS CON_ED_DATE
			 , IFNULL(B.ALT_DIV, "신규") AS ALT_DIV
			 , IFNULL(B.SUPP_AMT, A.SUPP_AMT) AS SUPP_AMT
			 , IFNULL(B.VAT_AMT, A.VAT_AMT) AS VAT_AMT
			 , IFNULL(B.REMARK , A.REMARK) AS REMARK
			FROM
				(SELECT
				   CON_ID
				,  CON_NM
				,  CON_ST_DATE
				,  CON_ED_DATE
				,  SUPP_AMT
				,  VAT_AMT
				,  CONFIRM_YN
				,  REMARK
				FROM
					BM_CON_INFO
				WHERE
					CONFIRM_YN = "Y" ) AS A
					LEFT OUTER JOIN 
				(SELECT
					C.CON_ID
				  , C.CON_ST_DATE
				  , C.CON_ED_DATE
				  , C.ALT_DIV
				  , C.SUPP_AMT
				  , C.VAT_AMT
				  , C.REMARK 
				FROM
					(SELECT
					  AL.SEQ
					, DL.DL_CD_NM AS ALT_DIV
					, AL.CON_ID
					, CI.CON_NM
					, AL.CON_ST_DATE
					, AL.CON_ED_DATE
					, AL.CONFIRM_YN
					, AL.SUPP_AMT
					, AL.VAT_AMT
					, AL.REMARK	
					FROM
					   BM_CON_ALT AL
						LEFT OUTER JOIN BM_CON_INFO CI
						ON AL.CON_ID = CI.CON_ID
						LEFT OUTER JOIN SM_DL_CD_INFO DL
						ON AL.ALT_DIV = DL.DL_CD
					WHERE
						AL.CONFIRM_YN = "Y"
						AND
						AL.CON_ED_DATE > NOW()
						AND
						DL.DL_CD_NM != "종료"		
					GROUP BY AL.SEQ DESC ) AS C
				GROUP BY C.CON_ID) AS B				
				ON B.CON_ID = A.CON_ID ) AS D
				WHERE
				CON_ED_DATE > NOW()		
				<if test="value != null">
					AND		
						( CON_ID LIKE CONCAT('%', #{value}, '%')
						OR ALT_DIV LIKE CONCAT('%', #{value}, '%'))
			    </if>
	
	
    </select>
    
     <select id="BM0302F0S0" parameterType="String" resultType="altContractInfoVO">
    	SELECT
  			  CON_ID
    		, SEQ
    		, ALT_DIV
    		, CON_NM
    		, ALT_CON_DATE			
    		, CON_ST_DATE			
    		, CON_ED_DATE
    		, SUPP_AMT			
    		, VAT_AMT				
    		, REMARK				
    		, CONFIRM_YN			
    		, CON_NO
    	FROM
    		BM_CON_ALT
    	WHERE
    		SEQ = #{value}
    </select>

    <insert id="BM0302F0I0" parameterType="altContractInfoVO">
    	<selectKey keyProperty="seq" resultType="String" order="BEFORE">
    		SELECT NEXTVAL(SEQ_BM_CON_ALT_0)
    	</selectKey>
    	
    	INSERT INTO BM_CON_ALT(
			  CON_ID
    		, SEQ
    		, ALT_DIV
    		, CON_NM
    		, ALT_CON_DATE			
    		, CON_ST_DATE			
    		, CON_ED_DATE
    		, SUPP_AMT			
    		, VAT_AMT				
    		, REMARK				
    		, CONFIRM_YN			
    		, CON_NO
    		, CREATED_AT
    		, CREATED_BY
    		, UPDATED_AT
    		, UPDATED_BY  		
    		)
    					
   		VALUES( 		
   			  #{conId}
   			, #{seq}
   			, #{altDiv}
   			, #{conNm}
   			, #{altConDate}
   			, #{conStDate}
   			, #{conEdDate}
   			, #{suppAmt}
   			, #{vatAmt}
   			, #{remark}
   			, "N"
   			, #{conNo}
   			, #{createdAt}
   			, #{createdBy}
   			, #{updatedAt}
   			, #{updatedBy}
   		)
    </insert>
    
    <update id="BM0302F0U0" parameterType="altContractInfoVO">
    	UPDATE BM_CON_ALT
    	SET
    	
    		  ALT_DIV			=	#{altDiv}
    		, ALT_CON_DATE		=	#{altConDate}
    		, CON_ST_DATE		=	#{conStDate}
    		, CON_ED_DATE		=	#{conEdDate}
    		, SUPP_AMT			=	#{suppAmt}
    		, VAT_AMT			=	#{vatAmt}
    		, REMARK			=	#{remark}
    		, CONFIRM_YN        =   #{confirmYn}
    		, CON_NO			=	#{conNo}
    		, UPDATED_AT		=	#{updatedAt}
    		, UPDATED_BY		=	#{updatedBy}
    		
    	WHERE
    		SEQ = #{seq}
    </update>
    
    <update id="BM0302F0U1" parameterType="altContractInfoVO">
    	UPDATE BM_CON_ALT
    	SET
    		  ALT_DIV			=	#{altDiv}
    		, ALT_CON_DATE		=	#{altConDate}
    		, CON_ST_DATE		=	#{conStDate}
    		, CON_ED_DATE		=	#{conEdDate}
    		, SUPP_AMT			=	#{suppAmt}
    		, VAT_AMT			=	#{vatAmt}
    		, REMARK			=	#{remark}
    		, CONFIRM_YN        =   "Y"
    		, CON_NO			=	#{conNo}
    		, UPDATED_AT		=	#{updatedAt}
    		, UPDATED_BY		=	#{updatedBy}
    		
    	WHERE
    		SEQ = #{seq}
    </update>
    
    <update id="BM0302F0U2" parameterType="altContractInfoVO">
    	UPDATE BM_CON_ALT
    	SET
    		  ALT_DIV			=	#{altDiv}
    		, ALT_CON_DATE		=	#{altConDate}
    		, CON_ST_DATE		=	#{conStDate}
    		, CON_ED_DATE		=	#{conEdDate}
    		, SUPP_AMT			=	#{suppAmt}
    		, VAT_AMT			=	#{vatAmt}
    		, REMARK			=	#{remark}
    		, CONFIRM_YN        =   "N"
    		, CON_NO			=	#{conNo}
    		, UPDATED_AT		=	#{updatedAt}
    		, UPDATED_BY		=	#{updatedBy}
    		
    	WHERE
    		SEQ = #{seq}
    </update>
    
    <delete id="BM0302G1D0" parameterType="altContractInfoVO">
    	DELETE
    		FROM BM_CON_ALT
    	WHERE
    		SEQ = #{seq}
    </delete>
</mapper>