<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tracom.brt.domain.BM0108.BM0108Mapper">

    <select id="BM0108G0S0" parameterType="String" resultType="eplyInfoVO">
    	SELECT
    		*
    	FROM
    		BM_EPLY_INFO
    	<where>
	    	<if test="value != null">
				EPLY_ID LIKE CONCAT('%', #{value}, '%')
				OR EPLY_NM LIKE CONCAT('%', #{value}, '%')
	    	</if>
    	</where>
    </select>
</mapper>