<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tracom.brt.domain.voice.VoiceMapper">

    <select id="checkVoiceOrganization" parameterType="String" resultType="Integer">
    	SELECT
    		COUNT(*)
    	FROM
    		BM_VOC_ORGA_LIST
    	WHERE
    		VOC_ID = #{value}
    </select>
    
    <select id="selectTtsHelp" resultType="hashmap">
    	SELECT
			  DL_CD_NM AS tag
			, TXT_VAL1 AS description
			, CONCAT(CAST(NUM_VAL4 AS INTEGER), ' ~ ', CAST(NUM_VAL5 AS INTEGER)) AS minMax
			, REMARK AS example
		FROM
			SM_DL_CD_INFO
		WHERE
			CO_CD = 'TTS_HELP'
			AND USE_YN = 'Y'
		ORDER BY SORT_ODR ASC
    </select>
</mapper>