<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tracom.brt.domain.BM0604.BM0604Mapper">
	<select id="BM0604G0S0" resultType="newsVO" parameterType="String">
	     SELECT
			  USER_NEWS_ID
			, NEWS_TITLE
			, REMARK
			, NEWS_CONTENTS
			, USE_YN
			, CATEGORY
			, PROV_NM
			, PUB_DT
	     FROM
		      BM_NEWS_USER_SET
		 <where>
		    	<if test="value != null">
					CATEGORY LIKE CONCAT('%', #{value}, '%')
					OR NEWS_CONTENTS LIKE CONCAT('%', #{value}, '%')
		    	</if>
	    	</where>
	</select>
	<select id="BM0604G0S1" resultType="newsVO" parameterType="String">
	     SELECT
			  CATEGORY		
			, PROV_NM
			, NEWS_TITLE
			, PUB_DT
			, USE_YN
			, RENEW_DATE
			, SEQ
	     FROM
		      BM_NEWS
		 <where>
		    	<if test="value != null">
					CATEGORY LIKE CONCAT('%', #{value}, '%')
					OR NEWS_TITLE LIKE CONCAT('%', #{value}, '%')
					OR PROV_NM LIKE CONCAT('%', #{value}, '%')
		    	</if>
	    </where>
	    GROUP BY NEWS_TITLE
	</select>
	<select id="BM0604G1S0" resultType="newsVO" parameterType="String">
		SELECT
			VH.VHC_NO
		 ,  LG.MNG_ID
		 ,  MAX(LG.SEND_DATE) AS SEND_DATE	
		FROM
			BM_VHC_INFO VH
			LEFT OUTER JOIN BM_DVC_INFO DV
			ON VH.VHC_ID = DV.VHC_ID
			LEFT OUTER JOIN BM_LIVING_LOG LG
			ON DV.MNG_ID = LG.MNG_ID
		WHERE
			LG.ATTR_ID = "CD001"
			GROUP BY VH.VHC_NO		
	</select>
	<update id="BM0604F0U0" parameterType="newsVO">
		UPDATE BM_NEWS
		SET		
			CATEGORY    =   #{category}
		  , PROV_NM     =   #{provNm}
		  , NEWS_TITLE  =   #{newsTitle}
		  , PUB_DT      =   #{pubDt}
		  , USE_YN      =   #{useYn}
		  , RENEW_DATE  =   #{renewDate}
		  , UPDATED_AT	=	#{updatedAt}
    	  , UPDATED_BY	=	#{updatedBy}
    	  , UPDATED_IP	=	#{updatedIp}
		WHERE
			SEQ = #{seq}
	</update>
	
	<update id="BM0604F0U1" parameterType="newsVO">
		UPDATE BM_NEWS_USER_SET
		SET		
			USER_NEWS_ID     =   #{userNewsId}
		  , REMARK     	  	 =   #{remark}
		  , USE_YN      	 =   #{useYn}
		  , CATEGORY    	 =   #{category}
		  , PROV_NM     	 =   #{provNm}
		  , PUB_DT      	 =   #{pubDt}
		  , UPDATED_AT		 =	 #{updatedAt}
    	  , UPDATED_BY		 =	 #{updatedBy}
    	  , UPDATED_IP		 =	 #{updatedIp}
		WHERE
			USER_NEWS_ID     =   #{userNewsId}
	</update>
</mapper>