<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tracom.brt.domain.BM0201.BM0201Mapper">

    <select id="BM0201G0S0" parameterType="String" resultType="vhcDeviceVO">
    	SELECT
    		  VH.VHC_ID
    		, VH.VHC_NO
    		, VH.CHAS_NO
    		, CO.CORP_NM AS CORP_NM
    		, VH.CORP_ID
    		, VH.RELS_DATE
    		, VH.MODEL_NM
    		, DL0.DL_CD_NM AS VHC_KIND
    		, DL1.DL_CD_NM AS VHC_TYPE
    		, DL3.DL_CD_NM AS LF_YN
    		, DL2.DL_CD_NM AS VHC_FUEL
    		, DL4.DL_CD_NM AS MAKER
    		, DL5.DL_CD_NM AS AREA
    		, VH.REMARK
    		, VH.USE_YN
    	FROM
    		BM_VHC_INFO VH
    		LEFT JOIN SM_DL_CD_INFO DL0
    		ON VH.VHC_KIND = DL0.DL_CD
    		AND DL0.CO_CD = 'VHC_KIND'
    		LEFT JOIN SM_DL_CD_INFO DL1
    		ON VH.VHC_TYPE = DL1.DL_CD
    		AND DL1.CO_CD = 'VHC_TYPE'
    		LEFT JOIN SM_DL_CD_INFO DL2
    		ON VH.VHC_FUEL = DL2.DL_CD
    		AND DL2.CO_CD = 'VHC_FUEL'
    		LEFT JOIN SM_DL_CD_INFO DL3
    		ON VH.LF_YN = DL3.DL_CD
    		AND DL3.CO_CD = 'LF_YN'
    		LEFT JOIN SM_DL_CD_INFO DL4
    		ON VH.MAKER = DL4.DL_CD
    		AND DL4.CO_CD = 'VHC_MAKER'
    		LEFT JOIN SM_DL_CD_INFO DL5
    		ON VH.AREA = DL5.DL_CD
    		AND DL5.CO_CD = 'AREA'
    		LEFT OUTER JOIN BM_CORP_INFO CO
    		ON VH.CORP_ID = CO.CORP_ID
    	<where>
	    	<if test="value != null">
				VH.VHC_ID LIKE CONCAT('%', #{value}, '%')
				OR VH.VHC_NO LIKE CONCAT('%', #{value}, '%')
	    	</if>
    	</where>
    </select>
    
    <select id="BM0201F0S1" parameterType="Map" resultType="vhcDeviceVO">
    	SELECT
    		  DVC_ID
    		, MNG_ID
    	FROM
    		BM_DVC_INFO
    	WHERE
    		VHC_ID = #{vhcId}
    		AND MNG_ID = #{mngId}
    </select>
    
    <select id="BM0201F0S2" parameterType="String" resultType="vhcDeviceVO">
    	SELECT
    		  DVC_ID
    		, MAKER
    		, DVC_KIND
    		, INST_LOC
    		, MNG_ID
    		, DVC_IP
    		, VHC_ID
    		, REMARK
    	FROM
    		BM_DVC_INFO
    	WHERE
    		DVC_ID = #{value}
    </select>
    
    <select id="BM0201M0S0" parameterType="String" resultType="vhcDeviceVO">
    	SELECT
    		  DVC_ID
    		, DL0.DL_CD_NM AS DVC_KIND
    	FROM
    		BM_DVC_INFO DVC
    		LEFT OUTER JOIN SM_DL_CD_INFO DL0
    		ON DVC.DVC_KIND = DL0.DL_CD
    		AND DL0.CO_CD = "DVC_KIND"
    	ORDER BY DVC_ID DESC LIMIT 1
    </select>
    
    <select id="BM0201G1S0" parameterType="String" resultType="vhcDeviceVO">
    	SELECT
    	  	  D.VHC_ID
    	  	, D.USE_YN  
    	  	, D.DVC_ID
    	  	, DL0.DL_CD_NM AS MAKER_CD
    	  	, DL1.DL_CD_NM AS DVC_KIND_CD
    	  	, DL3.DL_CD_NM AS INST_LOC_CD
    	  	, D.MAKER
    	  	, D.DVC_KIND
    	  	, D.INST_LOC
    	  	, D.MNG_ID
    	  	, D.DVC_IP
    	  	, D.REMARK
    	  	, V.VHC_ID
    	FROM
    		BM_DVC_INFO D
    		LEFT OUTER JOIN BM_VHC_INFO V
    		ON D.VHC_ID = V.VHC_ID
    		LEFT JOIN SM_DL_CD_INFO DL0
    		ON D.MAKER = DL0.DL_CD
    		AND DL0.CO_CD = 'DVC_MAKER'
    		LEFT JOIN SM_DL_CD_INFO DL1
    		ON D.DVC_KIND = DL1.DL_CD
    		AND DL1.CO_CD = 'DVC_KIND'
    		LEFT JOIN SM_DL_CD_INFO DL3
    		ON D.INST_LOC = DL3.DL_CD
    		AND DL3.CO_CD = 'INST_LOC'
    	WHERE
    		V.VHC_ID = #{value}
    </select>
    
    <select id="BM0201G1S1" parameterType="String" resultType="vhcDeviceVO">
    	SELECT
		   HIST.DEV_SERIAL_NO
		 , IFNULL(UPD.COMPLETE_YN , "Y") AS COMPLETE_YN
		FROM
			BM_DVC_HIST HIST
			LEFT OUTER JOIN BM_DVC_INFO DVC
			ON HIST.DVC_ID = DVC.DVC_ID
			LEFT OUTER JOIN BM_UPD_LOG UPD
			ON DVC.MNG_ID = UPD.MNG_ID
		WHERE
			DVC.DVC_ID = #{value}
    </select>
    
    <insert id="BM0201F0I0" parameterType="VhcDeviceVO">
    	<selectKey keyProperty="dvcId" resultType="String" order="BEFORE">
    		SELECT CONCAT('DV', LPAD(NEXTVAL(SEQ_BM_DVC_INFO_0), 5, '0'))
    	</selectKey>
    	INSERT INTO BM_DVC_INFO(
    		  DVC_ID
    		, MAKER
    		, DVC_KIND
    		, INST_LOC
    		, MNG_ID
    		, DVC_IP
    		, REMARK
    		, VHC_ID
    		, USE_YN 		
    		, CREATED_AT
    		, CREATED_BY
    		, UPDATED_AT
    		, UPDATED_BY
    		)
   		VALUES(
   			  #{dvcId}
   			, #{maker}
   			, #{dvcKind}
   			, #{instLoc}
   			, #{mngId}
   			, #{dvcIp}
   			, #{remark}
   			, #{vhcId}
   			, "N"
   			, #{createdAt}
   			, #{createdBy}
   			, #{updatedAt}
   			, #{updatedBy}
   			)
    </insert>
    
    <insert id="BM0201M0I0" parameterType="VhcDeviceVO">
    	<selectKey keyProperty="seq" resultType="String" order="BEFORE">
    		SELECT NEXTVAL(SEQ_BM_DVC_HIST_0)
    	</selectKey>
    	INSERT INTO BM_DVC_HIST(
    		  DEV_SERIAL_NO
    		, MODEL_NM
    		, APLY_DATE
    		, WORK_TYPE
    		, WORK_AMT
    		, REMARK
    		, DVC_ID
    		, SEQ
    		, CREATED_AT
    		, CREATED_BY
    		, UPDATED_AT
    		, UPDATED_BY
    		)
   		VALUES(
   			  #{devSerialNo}
   			, #{modelNm}
   			, #{aplyDate}
   			, #{workType}
   			, #{workAmt}
   			, #{remark}
   			, #{dvcId}
   			, #{seq}
   			, #{createdAt}
   			, #{createdBy}
   			, #{updatedAt}
   			, #{updatedBy}
   			)
    </insert>
    
    <update id="BM0201G1U1" parameterType="VhcDeviceVO">
		UPDATE BM_DVC_INFO
    	SET
    		  USE_YN        =   "Y"
    		, UPDATED_AT	=	#{updatedAt}
    		, UPDATED_BY	=	#{updatedBy}
    	WHERE
    		DVC_ID = #{dvcId}
	</update>
	
	<update id="BM0201G1U0" parameterType="VhcDeviceVO">
		UPDATE BM_DVC_INFO
    	SET
    	      MNG_ID        =   NULL
    		, USE_YN        =   "N"
    		, UPDATED_AT	=	#{updatedAt}
    		, UPDATED_BY	=	#{updatedBy}
    	WHERE
    		DVC_ID = #{dvcId}
	</update>
    
     <update id="BM0201F0U0" parameterType="VhcDeviceVO">
    	UPDATE BM_DVC_INFO
    	SET
    		  DVC_ID		=	#{dvcId}
    		, MAKER			=	#{maker}
    		, DVC_KIND		=	#{dvcKind}
    		, INST_LOC		=	#{instLoc}
    		, MNG_ID		=	#{mngId}
    		, DVC_IP		=	#{dvcIp}
    		, REMARK		=	#{remark}
    		, VHC_ID		=	#{vhcId}
    		, UPDATED_AT	=	#{updatedAt}
    		, UPDATED_BY	=	#{updatedBy}
    	WHERE
    		DVC_ID = #{dvcId}
    </update>
    
    <delete id="BM0201G1D0" parameterType="VhcDeviceVO">
    	DELETE
    		FROM BM_DVC_INFO
    	WHERE
    		DVC_ID = #{dvcId}
    </delete>
    
</mapper>