<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tracom.brt.domain.SM0105.SM0105Mapper">

    <select id="SM0105G1S0" parameterType="String" resultType="commonCodeDetailInfoVO">
    	SELECT
    		  CO_CD
    		, DL_CD
    		, DL_CD_NM
    		, SORT_ODR
    		, TXT_VAL1
    		, TXT_VAL2
    		, TXT_VAL3
    		, NUM_VAL4
    		, NUM_VAL5
    		, NUM_VAL6
    		, USE_YN
    		, REMARK
    	FROM
    		SM_DL_CD_INFO
    	WHERE
    		CO_CD = #{value}
    	ORDER BY SORT_ODR ASC
    </select>
    
    <!-- JH 다른페이지에서 쿼리용 -->
    <select id="SM0105G1S1" parameterType="commonCodeDetailInfoVO" resultType="commonCodeDetailInfoVO">
    	SELECT
			    CO_CD
			  , DL_CD
			  , DL_CD_NM
			  , DL_CD_ENM
			  , SORT_ODR
			  , TXT_VAL1
			  , TXT_VAL2
			  , TXT_VAL3
			  , NUM_VAL4
			  , NUM_VAL5
			  , NUM_VAL6
			  , USE_YN
			  , REMARK
			  , CREATED_AT
			  , CREATED_BY
			  , UPDATED_AT
			  , UPDATED_BY
		FROM
			SM_DL_CD_INFO
		WHERE
			CO_CD = #{coCd}
			AND DL_CD = #{dlCd}
		    AND USE_YN = 'Y'
    </select>
    
    <select id="SM0105G1S2" parameterType="commonCodeDetailInfoVO" resultType="commonCodeDetailInfoVO">
    	SELECT
			    CO_CD
			  , DL_CD
			  , DL_CD_NM
			  , DL_CD_ENM
			  , SORT_ODR
			  , TXT_VAL1
			  , TXT_VAL2
			  , TXT_VAL3
			  , NUM_VAL4
			  , NUM_VAL5
			  , NUM_VAL6
			  , USE_YN
			  , REMARK
			  , CREATED_AT
			  , CREATED_BY
			  , UPDATED_AT
			  , UPDATED_BY
		FROM
			SM_DL_CD_INFO
		WHERE
			CO_CD = #{coCd}
		    AND USE_YN = 'Y'
    </select>
    
    <select id="SM0105F0S0" parameterType="String" resultType="commonCodeDetailInfoVO">
    	SELECT
    		*
    	FROM
    		SM_DL_CD_INFO
    	WHERE
    		DL_CD = #{value}
    </select>

    <insert id="SM0105F0I0" parameterType="commonCodeDetailInfoVO">
    	INSERT INTO SM_DL_CD_INFO(
    		  CO_CD
    		, DL_CD
    		, DL_CD_NM
    		, DL_CD_ENM
    		, SORT_ODR
    		, TXT_VAL1
    		, TXT_VAL2
    		, TXT_VAL3
    		, NUM_VAL4
    		, NUM_VAL5
    		, NUM_VAL6
    		, USE_YN
    		, REMARK
    		, CREATED_AT
    		, CREATED_BY
    		, UPDATED_AT
    		, UPDATED_BY)
   		VALUES(
   			  #{coCd}
   			, #{dlCd}
   			, #{dlCdNm}
   			, #{dlCdEnm}
   			, #{sortOdr}
   			, #{txtVal1}
   			, #{txtVal2}
   			, #{txtVal3}
   			, #{numVal4}
   			, #{numVal5}
   			, #{numVal6}
   			, #{useYn}
   			, #{remark}
   			, #{createdAt}
   			, #{createdBy}
   			, #{updatedAt}
   			, #{updatedBy}
   		)
    </insert>
    
    <update id="SM0105F0U0" parameterType="commonCodeDetailInfoVO">
    	UPDATE SM_DL_CD_INFO
    	SET
    		  DL_CD_NM		=	#{dlCdNm}
    		, DL_CD_ENM		=	#{dlCdEnm}
    		, SORT_ODR		=	#{sortOdr}
    		, TXT_VAL1		=	#{txtVal1}
    		, TXT_VAL2		=	#{txtVal2}
    		, TXT_VAL3		=	#{txtVal3}
    		, NUM_VAL4		=	#{numVal4}
    		, NUM_VAL5		=	#{numVal5}
    		, NUM_VAL6		=	#{numVal6}
    		, USE_YN		=	#{useYn}
    		, REMARK		=	#{remark}
    		, UPDATED_AT	=	#{updatedAt}
    		, UPDATED_BY	=	#{updatedBy}
    	WHERE
    		CO_CD = #{coCd}
    		AND DL_CD = #{dlCd}
    </update>
    
    <delete id="SM0105G1D0" parameterType="commonCodeDetailInfoVO">
    	DELETE
    		FROM SM_DL_CD_INFO
    	WHERE
    		CO_CD = #{coCd}
    		AND DL_CD = #{dlCd}
    </delete>
    
    <select id="SM0105G2S0" resultType="commonCodeDetailInfoVO">
    	SELECT
    		*
    	FROM
    		SM_DL_CD_INFO
    	WHERE
    		CO_CD = 'DVC_KIND'
    		AND
    		TXT_VAL1 = 'RD'
    </select>
    
    <select id="SM0105G2S1" parameterType="String" resultType="commonCodedetailInfoVO">
    	SELECT 
			*
		FROM
			SM_DL_CD_INFO
		WHERE
			CO_CD = 'DVC_KIND'
		    AND
		    TXT_VAL1 = 'RD'
		    AND
		    DL_CD = #{value}
    </select>
    
    <select id="SM0105G2S2" parameterType="String" resultType="String">
    	SELECT
			TXT_VAL2
		FROM
			SM_DL_CD_INFO
		WHERE
			CO_CD = 'UPDOWN_FLAG'
			AND
		    DL_CD = #{value}
    </select>
    
    <select id="SM0105G3S0" parameterType="String" resultType="String">
		SELECT
			TXT_VAL1
		FROM
			SM_DL_CD_INFO
		WHERE
			CO_CD = 'EFFECT_TYPE'
		    AND
		    DL_CD_NM = #{value}
    </select>
    
    <select id="SM0105G3S1" parameterType="String" resultType="String">
		SELECT
			DL_CD_NM
		FROM
			SM_DL_CD_INFO
		WHERE
			CO_CD = 'EFFECT_TYPE'
		    AND
		    TXT_VAL1 = #{value}
    </select>
</mapper>