<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tracom.brt.domain.BM0205.BM0205Mapper">
	<select id="BM0205G0S0" parameterType="String" resultType="vhcDvcUpdateVO">
		SELECT
			 V.VHC_NO
		   , DL0.DL_CD_NM AS MAKER
		   , DL1.DL_CD_NM AS DVC_KIND
		   , DL2.DL_CD_NM AS INST_LOC
		   , DL3.DL_CD_NM AS VHC_KIND
		   , DL4.DL_CD_NM AS VHC_TYPE
		   , D.DVC_ID
		   , D.MNG_ID
		   , DH.MODEL_NM
		   , IF(ULOG.COMPLETE_YN IS NULL, '예약가능', IF(ULOG.COMPLETE_YN = 'Y', '예약가능', '예약중')) AS COMPLETE_YN
		FROM
		     BM_VHC_INFO V
			 LEFT OUTER JOIN BM_DVC_INFO D
			 ON V.VHC_ID = D.VHC_ID
			 LEFT OUTER JOIN BM_DVC_HIST DH
			 ON D.DVC_ID = DH.DVC_ID
			 LEFT JOIN SM_DL_CD_INFO DL0			 
			 ON D.MAKER = DL0.DL_CD
			 AND DL0.CO_CD = 'DVC_MAKER' 
			 LEFT JOIN SM_DL_CD_INFO DL1
			 ON D.DVC_KIND = DL1.DL_CD
			 AND DL1.CO_CD = 'DVC_KIND'
			 LEFT JOIN SM_DL_CD_INFO DL2
			 ON D.INST_LOC = DL2.DL_CD
			 AND DL2.CO_CD = 'INST_LOC'
			 LEFT JOIN SM_DL_CD_INFO DL3
			 ON V.VHC_KIND = DL3.DL_CD
			 AND DL3.CO_CD = 'VHC_KIND'
			 LEFT JOIN SM_DL_CD_INFO  DL4
			 ON V.VHC_TYPE = DL4.DL_CD
			 AND DL4.CO_CD = 'VHC_TYPE'
			 LEFT OUTER JOIN BM_UPD_LOG ULOG
			 ON D.MNG_ID = ULOG.MNG_ID
	   <where>
	    	<if test="value != null">
				V.VHC_NO LIKE CONCAT('%', #{value}, '%')
	    	AND
	    	</if>
	   		D.USE_YN != "N"
	   		AND D.MNG_ID != "NULL"
    	</where>
    	GROUP BY D.MNG_ID
		ORDER BY VHC_NO 
	</select>
	
	<select id="BM0205G0S1" resultType="vhcDvcUpdateVO">
		SELECT
		   RSV_ID
		 , MNG_ID
		 , COMPLETE_YN
		FROM
			BM_UPD_LOG
		WHERE
			COMPLETE_YN = "N"
	</select>
	<select id="BM0205S0" parameterType="Map" resultType="vhcDvcUpdateVO">
		SELECT
			RSV_ID
		  , MNG_ID
		  , RSV_DATE
		FROM 
		    BM_UPD_RSV
		WHERE
			MNG_ID = #{mngId}
		    AND RSV_DATE = #{rsvDate}
	</select>
	
	<insert id="BM0205Reservation" parameterType="vhcDvcUpdateVO" >		
		INSERT INTO BM_UPD_RSV(
			  RSV_DATE
			, RSV_ID
			, VER_INFO
			, ATT_FILE
			, MNG_ID
			, CREATED_AT
    		, CREATED_BY
    		, CREATED_IP
    		, UPDATED_AT
    		, UPDATED_BY
    		, UPDATED_IP)
		VALUES
		<foreach collection="upList" item="upList" separator=",">
			( #{rsvDate}
		    , CONCAT('UR', LPAD(NEXTVAL(SEQ_BM_UPD_RSV_0), 5, '0'))
		    , #{verInfo}
		    , #{upList.attFile}
		    , #{upList.mngId}
		    , #{upList.createdAt}
   			, #{upList.createdBy}
   			, #{upList.createdIp}
   			, #{upList.updatedAt}
   			, #{upList.updatedBy}
   			, #{upList.updatedIp}
		)
		</foreach>
	</insert>
	
	<insert id="BM0205I0" parameterType="vhcDvcUpdateVO" >		
		INSERT INTO BM_UPD_LOG(
			  RSV_ID
			, MNG_ID
			, PROCE_RST
			, RST_CONT
			, SEND_DATE
			, COMPLETE_YN
			, REMARK)
		VALUES
		<foreach collection="upList" item="upList" separator=",">
			 
		    ( #{upList.rsvId}
		    , #{upList.mngId}
		    , #{upList.proceRst}
		    , #{upList.rstCont}
		    , #{upList.sendDate}
		    , "N"
		    , #{upList.remark}
		)
		</foreach>
	</insert>		
</mapper>