<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tracom.brt.domain.altercontract.AltercontractMapper">

    <select id="findAll" parameterType="String" resultType="altercontract">
    	SELECT
    		*
    	FROM
    		BM_CON_ART_INFO
    	<where>
	    	<if test="value != null">
				CON_ID LIKE CONCAT('%', #{value}, '%')
				OR CORP_NM LIKE CONCAT('%', #{value}, '%')
	    	</if>
    	</where>
    </select>

    <insert id="insert" parameterType="altercontract">
    	<selectKey keyProperty="corpId" resultType="String" order="BEFORE">
    		SELECT CONCAT('CP', LPAD(NEXTVAL(SEQ_BM_CORP_INFO_0), 5, '0'))
    	</selectKey>
    
    	INSERT INTO BM_CON_ALT_INFO(
    		  CON_ID
    		, SEQ
    		, ALT_DIV
    		, ALT_CON_DATE
    		, CON_ST_DATE
    		, CON_ED_DATE
    		, SUPP_AMT
    		, VAT_AMT
    		, REMARK
    		, CONFIRM_YN
    		, CON_NO 
    		
    		                        )
    		
   		VALUES(
   			  #{conId}
   			, #{seq}
   			, #{altDiv}
   			, #{altCondate}
   			, #{conStdate}
   			, #{conEddate}
   			, #{suppAmt}
   			, #{vatAmt}
   			, #{remark}
   			, #{confirmYn}
   			, #{conNo}
   		
   		      )
    </insert>
    
    <update id="update" parameterType="altercontract">
    	UPDATE BM_CORP_INFO
    	SET
    		  CON_ID		=	#{conId}
    		, SEQ		    =	#{seq}
    		, ALT_DIV	    =	#{altDiv}
    		, ALT_CON_DATE	=	#{altCondate}
    		, CON_ST_DATE	=	#{conStdate}
    		, CON_ED_DATE	=	#{conEddate}
    		, SUPP_AMT		=	#{suppAmt}
    		, VAT_AMT	  	=	#{vatAmt}
    		, REMARK		=	#{remark}
    		, CONFIRM_YN	=	#{confirmYn}
    		, CON_NO		=	#{conNo}
    	WHERE
    		CORP_ID = #{corpId}
    </update>
    
    <delete id="delete" parameterType="altercontract">
    	DELETE
    		FROM BM_CORP_INFO
    	WHERE
    		CORP_ID = #{corpId}
    </delete>
</mapper>