<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tracom.brt.domain.AD0103.AD0103Mapper">

	<select id="AD0103G0S0" parameterType="String" resultType="adInstDlVO">
		SELECT
			  AV.VHC_ID
			, DC2.DL_CD AS AD_LVL
			, AV.AD_POS
			, V.AD_ROUT
			, DC2.DL_CD_NM AS AD_LVL_NM
			, V.VHC_NO
			, DC.TXT_VAL1 AS AD_POS_TYPE_NM
			, DC.DL_CD_NM AS AD_POS_NM
			, S.UNIT_AMT
		FROM
			AD_VHC_INFO AS AV
			LEFT OUTER JOIN SM_DL_CD_INFO DC
			ON AV.AD_POS = DC.DL_CD
			AND DC.CO_CD = 'AD_POS'
			LEFT OUTER JOIN BM_VHC_INFO V
			ON AV.VHC_ID = V.VHC_ID
			LEFT OUTER JOIN SM_DL_CD_INFO DC2
			ON V.AD_LVL = DC2.DL_CD
			AND DC2.CO_CD = 'AD_LVL'
			LEFT OUTER JOIN AD_STD_PRICE S
			ON S.PRICE_TYPE = #{value}
			AND S.AD_LVL = DC2.DL_CD
			AND S.AD_POS = DC.DL_CD
		ORDER BY AV.VHC_ID ASC, AD_POS_TYPE_NM DESC, DC.SORT_ODR ASC
	</select>

	<select id="AD0103G0S1" parameterType="hashmap" resultType="adInstDlVO">
		SELECT
			  II.PRICE_TYPE
			, V.AD_LVL
			, I.AD_POS
			, I.INST_ID
			, I.VHC_ID
		FROM
			AD_INST_DL I
			LEFT OUTER JOIN BM_VHC_INFO V
			ON I.VHC_ID = V.VHC_ID
			LEFT OUTER JOIN AD_INST_INFO II
			ON I.INST_ID = II.INST_ID
			AND II.PRICE_TYPE = #{priceType}
		WHERE
			I.INST_ID = #{instId} 
	</select>
	
	<select id="AD0103G1S0" parameterType="String" resultType="adInstInfoVO">
		SELECT
			  I.INST_ID
			, I.INST_NM
			, I.CUST_ID
			, C.CUST_NM
			, I.AD_ST_DATE
			, I.AD_ED_DATE
			, I.AD_AMT
			, I.REMARK
			, I.CONFIRM_YN
			, I.PRICE_TYPE
			, I.CONFIRM_YN
		FROM
			AD_INST_INFO I
			LEFT OUTER JOIN BM_CUST_INFO C
			ON I.CUST_ID = C.CUST_ID
		WHERE
			I.PRICE_TYPE = #{value}
	</select>
	
	<insert id="AD0103F0I0" parameterType="adInstInfoVO">
		<selectKey keyProperty="instId" resultType="String" order="BEFORE">
    		SELECT CONCAT('IN', LPAD(NEXTVAL(SEQ_AD_INST_INFO_0), 5, '0'))
    	</selectKey>
    	
    	INSERT INTO AD_INST_INFO(
    		  INST_ID
    		, INST_NM
    		, CUST_ID
    		, AD_ST_DATE
    		, AD_ED_DATE
    		, AD_AMT
    		, REMARK
    		, CONFIRM_YN
    		, PRICE_TYPE
    	)
    	VALUES(
    		  #{instId}
    		, #{instNm}
    		, #{custId}
    		, #{adStDate}
    		, #{adEdDate}
    		, #{adAmt}
    		, #{remark}
    		, 'N'
    		, #{priceType}
    	)
	</insert>
	
	<update id="AD0103F0U0" parameterType="adInstInfoVO">
		UPDATE AD_INST_INFO
		SET
			  INST_NM = #{instNm}
			, CUST_ID = #{custId}
			, AD_ST_DATE = #{adStDate}
			, AD_ED_DATE = #{adEdDate}
			, AD_AMT = #{adAmt}
			, REMARK = #{remark}
		WHERE
			INST_ID = #{instId}
	</update>
	
	<insert id="AD0103G0I0" parameterType="adInstInfoVO">
    	INSERT INTO AD_INST_DL(
    		  INST_ID
    		, VHC_ID
    		, AD_POS
    		, PRICE_TYPE
    	)
    	VALUES
    	<foreach collection="list" item="item" separator=",">
    	(
    		  #{instId}
    		, #{item.vhcId}
    		, #{item.adPos}
    		, #{priceType}
    	)
    	</foreach>
	</insert>
	
	<delete id="AD0103G0D0" parameterType="adInstInfoVO">
		 DELETE ID FROM AD_INST_DL ID
			 LEFT OUTER JOIN AD_INST_INFO I
			 ON ID.INST_ID = I.INST_ID
			 AND I.PRICE_TYPE = #{priceType}
		 WHERE
		 	ID.INST_ID = #{instId}
	</delete>
	
	<update id="AD0103G1U0" parameterType="adInstInfoVO">
		UPDATE AD_INST_INFO
		SET
			CONFIRM_YN = #{confirmYn}
		WHERE
			INST_ID = #{instId}
	</update>
	
	<delete id="AD0103G1D0" parameterType="adInstInfoVO">
		DLEETE FROM AD_INST_INFO
		WHERE
			INST_ID = #{instId}
	</delete>
</mapper>