<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tracom.brt.domain.BM0804.BM0804Mapper">

<!-- 좌측상단 그리드 select -->
	<select id="BM0804G0S0" parameterType="String" resultType="bmRoutInfoVO">
		SELECT
			  ROUT_ID
			, MAX(UPDATED_AT) AS UPDATED_AT  
		FROM
			BM_ROUT_SIMULATION
		GROUP BY ROUT_ID
		
		<if test="value != null">
			HAVING ROUT_ID LIKE CONCAT('%', #{value}, '%')
    	</if>
	</select>

<!-- 좌측하단 그리드 select -->
	<select id="BM0804G1S0" parameterType="Map" resultType="bmRoutNodeInfoVO">
		SELECT
			  SIMUL.NODE_ID		AS NODE_ID
		    , SIMUL.NODE_NM		AS NODE_NM
		    , SIMUL.NODE_TYPE	AS NODE_TYPE
		    , DLCD.DL_CD_NM 	AS NODE_TYPE_NM
		    , SIMUL.LATI		AS LATI
		    , SIMUL.LONGI		AS LONGI
		    , SIMUL.SEQ			AS SEQ
		    , SIMUL.ROUT_ID		AS ROUT_ID
		FROM
			BM_ROUT_SIMULATION SIMUL
			LEFT JOIN SM_DL_CD_INFO DLCD
			ON DLCD.CO_CD = 'NODE_TYPE' AND SIMUL.NODE_TYPE = DLCD.TXT_VAL1
		WHERE
			ROUT_ID = #{routId}
			
			<if test="filter1 != null">
				AND(
				NODE_ID LIKE CONCAT('%', #{filter1}, '%')
				OR
				NODE_NM LIKE CONCAT('%', #{filter1}, '%')
				)
	    	</if>
	    ORDER BY SEQ
	</select>
	
	<delete id="BM0804G1D0" parameterType="String">
		DELETE FROM
			BM_ROUT_SIMULATION
		WHERE
			ROUT_ID = #{routId} 
	</delete>

	
	<insert id="BM0804G1I0" parameterType="bmRoutNodeInfoVO">
    	INSERT INTO
    		BM_ROUT_SIMULATION
    			(
    				  NODE_ID
    				, NODE_NM
    				, NODE_TYPE
    				, LATI
    				, LONGI
    				, SEQ
    				, ROUT_ID
    				, UPDATED_AT
    			)
		VALUES
			<foreach collection="voList" item="voList" separator=",">
			(
				<choose>
					<when test="voList.nodeId != null">
						#{voList.nodeId}
					</when>
					<otherwise>
						<choose>
							<when test="voList.nodeType == 30">
			  			    	CONCAT('VND', LPAD(NEXTVAL(SEQ_BM_TEMP_NODE_0), 7, '0'))
							</when>
							<when test="voList.nodeType == 1">
								CONCAT('BS', LPAD(NEXTVAL(SEQ_BM_TEMP_STOP_0), 7, '0'))
							</when>
						</choose>
					</otherwise>
				</choose>
			  	, #{voList.nodeNm}
				, #{voList.nodeType}
				, #{voList.lati}
				, #{voList.longi} 
				, #{voList.seq}
				, #{routId}
				, #{updatedAt}
			)
			</foreach>   
    
	</insert>
	
	<insert id="BM0804G1I1" parameterType="bmRoutNodeInfoVO">
    	<selectKey keyProperty="routId" resultType="String" order="BEFORE">
    		SELECT CONCAT('ROUT', LPAD(NEXTVAL(SEQ_BM_TEMP_ROUT_0), 5, '0'))
    	</selectKey>
    	
    	INSERT INTO
    		BM_ROUT_SIMULATION
    			(
    				  NODE_ID
    				, NODE_NM
    				, NODE_TYPE
    				, LATI
    				, LONGI
    				, SEQ
    				, ROUT_ID
    				, UPDATED_AT
    			)
		VALUES
			<foreach collection="voList" item="voList" separator=",">
			(
				<choose>
					<when test="voList.nodeId != null">
						#{voList.nodeId}
					</when>
					<otherwise>
						<choose>
							<when test="voList.nodeType == 30">
			  			    	CONCAT('VND', LPAD(NEXTVAL(SEQ_BM_TEMP_NODE_0), 7, '0'))
							</when>
							<when test="voList.nodeType == 1">
								CONCAT('BS', LPAD(NEXTVAL(SEQ_BM_TEMP_STOP_0), 7, '0'))
							</when>
						</choose>
					</otherwise>
				</choose>
			  	, #{voList.nodeNm}
				, #{voList.nodeType}
				, #{voList.lati}
				, #{voList.longi} 
				, #{voList.seq}
				, #{routId}
				, #{updatedAt}
			)
			</foreach>   
	</insert>
	
	<delete id="BM0804G0D0" parameterType="bmRoutNodeInfoVO">
		DELETE FROM BM_ROUT_SIMULATION
		WHERE ROUT_ID = #{routId}
	</delete>
</mapper>