<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tracom.brt.domain.BM0102.BM0102Mapper">

    <select id="BM0102G0S0" parameterType="String" resultType="custInfoVO">
    	SELECT
    		*
    	FROM
    		BM_CUST_INFO
    	<where>
	    	<if test="value != null">
				CUST_ID LIKE CONCAT('%', #{value}, '%')
				OR CUST_NM LIKE CONCAT('%', #{value}, '%')
	    	</if>
    	</where>
    </select>

    <insert id="BM0102F0I0" parameterType="custInfoVO">
    	<selectKey keyProperty="custId" resultType="String" order="BEFORE">
    		SELECT CONCAT('CT', LPAD(NEXTVAL(SEQ_BM_CUST_INFO_0), 5, '0'))
    	</selectKey>
    
    	INSERT INTO BM_CUST_INFO(
    		  CUST_ID
    		, CUST_NM
    		, CORP_NO
    		, EMAIL
    		, PHONE
    		, FAX
    		, ADDR1
    		, ZIP_NO
    		, ADDR2
    		, REMARK
    		, CREATED_AT
    		, CREATED_BY
    		, UPDATED_AT
    		, UPDATED_BY)
   		VALUES(
   			  #{custId}
   			, #{custNm}
   			, #{corpNo}
   			, #{email}
   			, #{phone}
   			, #{fax}
   			, #{addr1}
   			, #{zipNo}
   			, #{addr2}
   			, #{remark}
   			, #{createdAt}
   			, #{createdBy}
   			, #{updatedAt}
   			, #{updatedBy}
   		)
    </insert>
    
    <update id="BM0102F0U0" parameterType="custInfoVO">
    	UPDATE BM_CUST_INFO
    	SET
    		  CUST_NM		=	#{custNm}
    		, CORP_NO		=	#{corpNo}
    		, EMAIL			=	#{email}
    		, PHONE			=	#{phone}
    		, FAX			=	#{fax}
    		, ADDR1			=	#{addr1}
    		, ZIP_NO		=	#{zipNo}
    		, ADDR2			=	#{addr2}
    		, REMARK		=	#{remark}
    		, UPDATED_AT	=	#{updatedAt}
    		, UPDATED_BY	=	#{updatedBy}
    	WHERE
    		CUST_ID = #{custId}
    </update>
    
    <delete id="BM0102G0D0" parameterType="custInfoVO">
    	DELETE
    		FROM BM_CUST_INFO
    	WHERE
    		CUST_ID = #{custId}
    </delete>
    
    <select id="BM0102G1S0" parameterType="custInfoVO" resultType="mngrInfoVO">
    	SELECT
    		  CONVERT(AES_DECRYPT(MNGR_NM, HEX(SHA2('TRACOM', 512))) USING UTF8)	AS MNGR_NM
    		, CONVERT(AES_DECRYPT(PHONE, HEX(SHA2('TRACOM', 512))) USING UTF8)		AS PHONE
    		, CONVERT(AES_DECRYPT(EMAIL, HEX(SHA2('TRACOM', 512))) USING UTF8)		AS EMAIL
    		, CONVERT(AES_DECRYPT(FAX, HEX(SHA2('TRACOM', 512))) USING UTF8)		AS FAX
    		, REMARK
    		, CUST_ID
    		, SEQ
    	FROM
    		BM_MNGR_INFO
    	WHERE
    		CUST_ID = #{custId}
    </select>
    
    <delete id="BM0102G1D0" parameterType="String">
    	DELETE FROM BM_MNGR_INFO WHERE CUST_ID = #{value}
    </delete>
    
    <insert id="BM0102G1I0" parameterType="mngrInfoVO">
    	INSERT INTO
    		BM_MNGR_INFO( MNGR_NM
    					, PHONE
    					, EMAIL
    					, FAX
    					, REMARK
    					, CUST_ID
    					, SEQ)
    			VALUES 
    			<foreach collection="voList" item="voList" separator=",">
					<choose>
						<when test="voList.mngrNm != null || voList.phone != null || voList.email != null || voList.fax != null || voList.remark != null">
		    			( AES_ENCRYPT(#{voList.mngrNm}, HEX(SHA2('TRACOM', 512)))
    					, AES_ENCRYPT(#{voList.phone}, HEX(SHA2('TRACOM', 512)))
	   					, AES_ENCRYPT(#{voList.email}, HEX(SHA2('TRACOM', 512)))
	   					, AES_ENCRYPT(#{voList.fax}, HEX(SHA2('TRACOM', 512)))
	   					, #{voList.remark}
	   					, #{voList.custId}
	   					, #{voList.__index})
						</when>
						<otherwise>
						</otherwise>
					</choose>    			
    			</foreach>
    </insert>
</mapper>