<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tracom.brt.domain.BM0301.BM0301Mapper">

    <select id="BM0301G0S0" parameterType="String" resultType="contractInfoVO">
    	SELECT
    		  C.*
    		, CU.CUST_NM
    	FROM
    		BM_CON_INFO C
    		LEFT OUTER JOIN BM_CUST_INFO CU
    		ON C.CUST_ID = CU.CUST_ID
    	<where>
	    	<if test="value != null">
				CON_ID LIKE CONCAT('%', #{value}, '%')
				OR CON_NM LIKE CONCAT('%', #{value}, '%')
	    	</if>
    	</where>
    </select>

    <insert id="BM0301F0I0" parameterType="contractInfoVO">
    	<selectKey keyProperty="conId" resultType="String" order="BEFORE">
    		SELECT CONCAT('CN', LPAD(NEXTVAL(SEQ_BM_CON_INFO_0), 5, '0'))
    	</selectKey>
    
    	INSERT INTO BM_CON_INFO(
			  CON_ID
    		, CON_NM
    		, CON_FST_DATE	
    		, CON_ST_DATE			
    		, CON_ED_DATE			
    		, CONFIRM_YN
    		, SUPP_AMT				
    		, VAT_AMT				
    		, CUST_ID				
    		, REMARK			
    		, CON_NO
    		, CREATED_AT
    		, CREATED_BY
    		, UPDATED_AT
    		, UPDATED_BY
    		)
    					
   		VALUES( 		
   			  #{conId}
   			, #{conNm}
   			, #{conFstDate}
   			, #{conStDate}
   			, #{conEdDate}
   			, NULL
   			, #{suppAmt}
   			, #{vatAmt}
   			, #{custId}
   			, #{remark}
   			, #{conNo}
   			, #{createdAt}
   			, #{createdBy}
   			, #{updatedAt}
   			, #{updatedBy}
   			
   		)
    </insert>
    
    <update id="BM0301F0U0" parameterType="contractInfoVO">
    	UPDATE BM_CON_INFO
    	SET
    		  CON_NM			=	#{conNm}
    		, CON_FST_DATE		=	#{conFstDate}
    		, CON_ST_DATE		=	#{conStDate}
    		, CON_ED_DATE		=	#{conEdDate}
    		, CONFIRM_YN		=	#{confirmYn}
    		, SUPP_AMT			=	#{suppAmt}
    		, VAT_AMT			=	#{vatAmt}
    		, CUST_ID			=	#{custId}
    		, REMARK			=	#{remark}
    		, CON_NO			=	#{conNo}
    		, UPDATED_AT		=	#{updatedAt}
    		, UPDATED_BY		=	#{updatedBy}
    	
    	WHERE
    		CON_ID = #{conId}
    </update>
    
    <update id="BM0301F0U1" parameterType="contractInfoVO">
    
    	UPDATE BM_CON_INFO
    	SET
    		  CON_NM			=	#{conNm}
    		, CON_FST_DATE		=	#{conFstDate}
    		, CON_ST_DATE		=	#{conStDate}
    		, CON_ED_DATE		=	#{conEdDate}
    		, CONFIRM_YN		=	"Y"
    		, SUPP_AMT			=	#{suppAmt}
    		, VAT_AMT			=	#{vatAmt}
    		, CUST_ID			=	#{custId}
    		, REMARK			=	#{remark}
    		, CON_NO			=	#{conNo}
    		, UPDATED_AT		=	#{updatedAt}
    		, UPDATED_BY		=	#{updatedBy}
    	
    	WHERE
    		CON_ID = #{conId}
    
    
    </update>
    
    <update id="BM0301F0U2" parameterType="contractInfoVO">
    
    	UPDATE BM_CON_INFO
    	SET
    		  CON_NM			=	#{conNm}
    		, CON_FST_DATE		=	#{conFstDate}
    		, CON_ST_DATE		=	#{conStDate}
    		, CON_ED_DATE		=	#{conEdDate}
    		, CONFIRM_YN		=	NULL
    		, SUPP_AMT			=	#{suppAmt}
    		, VAT_AMT			=	#{vatAmt}
    		, CUST_ID			=	#{custId}
    		, REMARK			=	#{remark}
    		, CON_NO			=	#{conNo}
    		, UPDATED_AT		=	#{updatedAt}
    		, UPDATED_BY		=	#{updatedBy}
    	
    	WHERE
    		CON_ID = #{conId}
    
    
    </update>
    
    <delete id="BM0301G0D0" parameterType="contractInfoVO">
    	DELETE
    		FROM BM_CON_INFO
    	WHERE
    		CON_ID = #{conId}
    </delete>
</mapper>