<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tracom.brt.domain.BM0105.BM0105Mapper">

    <select id="BM0105G1S0" parameterType="Map" resultType="bmStaInfoVO">
    	SELECT
			  ROUT_ID
			, ROUT.SEQ
    		, STA.STA_ID
    		, STA_NM
    		, STA_NO
    		, LATI
    		, LONGI
    		, DATE_FORMAT(STA.UPDATED_AT, '%Y-%m-%d %T') AS UPDATED_AT
    	FROM
			BM_ROUT_STA_INFO ROUT
            LEFT JOIN BM_STA_INFO STA
			ON ROUT.STA_ID = STA.STA_ID
		WHERE
			ROUT.ROUT_ID = #{routId}
			
    	<if test="value != null">
    		AND(
			STA.STA_ID LIKE CONCAT('%', #{filter}, '%')
			OR STA_NO LIKE CONCAT('%', #{filter}, '%')
			OR STA_NM LIKE CONCAT('%', #{filter}, '%')
    		)
    	</if>
   		ORDER BY ROUT.SEQ
    </select>
    
    <delete id="BM0105G1D0" parameterType="String">
	    DELETE
		FROM
			BM_ROUT_STA_INFO
		WHERE
			ROUT_ID = #{routId}
    </delete>
    
    <insert id="BM0105G1I0" parameterType="bmStaInfoVO">
    <!-- 삭제후삽입으로 수정할것! -->
    
    	INSERT INTO
			BM_ROUT_STA_INFO(
							  ROUT_ID
							, SEQ
							, STA_ID
			)			
		VALUES
		<foreach collection="voList" item="voList" separator=",">
				( #{voList.routId}
				, #{voList.seq}
		        , #{voList.staId}
		        )
		</foreach>
    </insert>
    
    <insert id="BM0105G1I1" parameterType="bmStaInfoVO">
    	INSERT INTO
			BM_STA_INFO ( STA_ID
						, STA_NM
		                , STA_NO
		                , LATI
		                , LONGI
		                , CREATED_AT
		                , CREATED_BY
		                , UPDATED_AT
		                , UPDATED_BY
		                )
				VALUES
				<foreach collection="voList" item="voList" separator=",">
						( #{voList.staId}
						, REPLACE(#{voList.staNm}, ',', '.')
						, #{voList.staNo}
						, #{voList.lati}
						, #{voList.longi}
						, #{voList.createdAt}
						, #{voList.createdBy}
						, #{voList.updatedAt}
						, #{voList.updatedBy}
						)
				</foreach>
		ON DUPLICATE KEY UPDATE
			  STA_NM		= VALUES(STA_NM)
		    , STA_NO		= VALUES(STA_NO)
		    , LATI			= VALUES(LATI)
		    , LONGI			= VALUES(LONGI)
		    , UPDATED_AT	= VALUES(UPDATED_AT)
		    , UPDATED_BY	= VALUES(UPDATED_BY)
    </insert>
    
    
    <select id="getStaList" parameterType="bmRoutInfoVO" resultType="bmRoutNodeInfoVO">
    	SELECT
			  RS.ROUT_ID	AS ROUT_ID
		    , RS.SEQ		AS SEQ
		    , RS.STA_ID		AS STA_ID
		    , SI.STA_NM		AS STA_NM
		    , SI.STA_NO		AS STA_NO
		    , SI.LATI		AS LATI
		    , SI.LONGI		AS LONGI
		    , SI.STA_NM		AS NODE_NM
		FROM
			BM_ROUT_STA_INFO RS
		    LEFT JOIN BM_STA_INFO SI
		    ON RS.STA_ID = SI.STA_ID
		WHERE ROUT_ID = #{routId}
    </select>
    
    <select id="getNodeList" parameterType="bmRoutInfoVO" resultType="bmRoutNodeInfoVO">
    	SELECT
    		*
    	FROM
    		BM_ROUT_NODE_INFO
    	WHERE
    		NODE_TYPE = '30'
    		AND
    		ROUT_ID = #{routId}
    </select>
    
    
    <insert id="setNewStaNm" parameterType="bmStaInfoVO">
    	INSERT INTO BM_STA_NM_INFO (
			  	STA_ID
		      , KR_NM) 
		      
		SELECT
			  #{staId}
			, REPLACE(#{staNm}, ",", ".")
		FROM DUAL
		WHERE
			NOT EXISTS (SELECT * FROM BM_STA_NM_INFO WHERE STA_ID=#{staId})
    </insert>

</mapper>