<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tracom.brt.domain.routeReservation.RouteReservationMapper">

	<resultMap id="orgaList" type="com.tracom.brt.domain.BM0405.VoiceOrganizationVO">
		<result property="orgaId" column="orgaId"/>
		<result property="routId" column="routId"/>
		<collection property="playList" column="orgaId" javaType="java.util.ArrayList" select="selectVoiceOrganizationVoiceList"></collection>
	</resultMap>

 	<!-- routemap 폴더 내 파일 생성 쿼리 -->
 	<!-- 노선별 파일명 생성 쿼리  ROUTELIST.CSV-->
 	<select id="rsv_routelist" resultType="bmRoutInfoVO">
 		SELECT
			  ROUT.ROUT_ID AS ROUT_ID
            , CONCAT(SUBSTRING(DATE_FORMAT(PUB_DATE, '%Y%m%d'), 3), PUB_SEQ) AS VERSION
            , LPAD(REPLACE(SHORT_ROUT_NM, '-', 0), 6, 0) AS MNG_NAME
            , SUBSTRING(DL_CD.DL_CD_NM, 1, 1) AS UP_DOWN
            , WAY_INFO
            , DIR_INFO
		    , CONCAT(ROUT.ROUT_ID, '_', CONCAT(SUBSTRING(DATE_FORMAT(PUB_DATE, '%Y%m%d'), 3), PUB_SEQ), '_', LPAD(REPLACE(SHORT_ROUT_NM, '-', 0), 6, 0), '_', SUBSTRING(DL_CD.DL_CD_NM, 1, 1), '_', WAY_INFO, '_', DIR_INFO, '.csv') AS FILENAME
		FROM
			BM_ROUT_INFO ROUT
		    LEFT JOIN BM_ROUT_NODE_INFO NODE
		    ON ROUT.ROUT_ID = NODE.ROUT_ID
		    LEFT JOIN (SELECT * FROM SM_DL_CD_INFO WHERE CO_CD = 'UPDOWN_FLAG') DL_CD
		    ON ROUT.USER_WAY_DIV = DL_CD.NUM_VAL4
		GROUP BY ROUT.ROUT_ID
		HAVING COUNT(*) > 1
 	</select>

	<select id="rsv_routInfo" parameterType="String" resultType="bmRoutInfoVO">
		SELECT
			*
			, IF(PUB_DATE = DATE_FORMAT(NOW(), '%Y%m%d'), 'TRUE', 'FALSE') AS FLAG
		FROM
			BM_ROUT_INFO
		WHERE
			ROUT_ID = #{value}
	</select>
	
	<!-- pubDate나 pubSeq가 null일경우 새로 업데이트 -->
	<update id="rsv_startPub" parameterType="String">
		UPDATE
			BM_ROUT_INFO
		SET
			  PUB_DATE	= SUBSTR(DATE_FORMAT(NOW(), '%Y%m%d'), 3)
		    , PUB_SEQ	= '00'
		WHERE
			ROUT_ID = #{value}
	</update>
	
	<!-- pubDate가 오늘일 경우 seq+1 -->
	<update id="rsv_addPubSeq" parameterType="String">
		UPDATE
			BM_ROUT_INFO
		SET
			  PUB_DATE	= SUBSTR(DATE_FORMAT(NOW(), '%Y%m%d'), 3)
		    , PUB_SEQ	= PUB_SEQ + 1
		WHERE
			ROUT_ID = #{value}
	</update>
	
	<!-- getVersion -->
	<select id="rsv_getVersion" parameterType="String" resultType="String">
		SELECT
			CONCAT(SUBSTR(DATE_FORMAT(PUB_DATE, '%Y%m%d'), 3), PUB_SEQ)
		FROM
			BM_ROUT_INFO
		WHERE
			ROUT_ID = #{value}
	</select>
	
	<!-- getMaxVersion -->
	<select id="rsv_getMaxVersion" resultType="String">
		SELECT
			MAX(CONCAT(SUBSTR(DATE_FORMAT(PUB_DATE, '%Y%m%d'), 3), PUB_SEQ))
		FROM
			BM_ROUT_INFO
	</select>
	<!-- routlist.csv에 들어갈 row 생성 -->
	<select id="rsv_routListRow" parameterType="String" resultType="routListCSVVO">
		SELECT
			  CONCAT(ROUT_ID, '.csv')	AS FILE_NAME
		    , CONCAT(SUBSTR(DATE_FORMAT(PUB_DATE, '%Y%m%d'), 3), PUB_SEQ)		AS ROUT_VERSION
		    , DVC_NAME 					AS ROUT_NO
		    , CONCAT(ROUT_NM, "_" , DLCD.DL_CD_NM, "_", WAY_INFO, "_", DIR_INFO) AS ROUT_NM_KO
		    , CONCAT(ROUT_NM, "_" , DLCD.DL_CD_NM, "_", WAY_INFO, "_", DIR_INFO) AS ROUT_NM_EN
		FROM
			BM_ROUT_INFO ROUT
		    LEFT JOIN
		    SM_DL_CD_INFO DLCD
		    ON DLCD.CO_CD = 'UPDOWN_FLAG' AND ROUT.USER_WAY_DIV = DLCD.TXT_VAL1
		WHERE
			ROUT_ID = #{value}
	</select>

		
	<!-- routemap_node.csv -->
	<select id="rsv_nodelist" resultType="bmRoutNodeInfoVO">
		SELECT DISTINCT
			  NODE_ID				AS NODE_ID
		    , NODE_NM				AS NODE_NAME
		    , '30'					AS 'RANGE'
		    , TRUNCATE(LONGI, 6)	AS X
		    , TRUNCATE(LATI, 6)		AS Y
		FROM
			BM_ROUT_NODE_INFO
		WHERE
			NODE_TYPE = '30'
	</select>
	
	<!-- busstop.csv -->
	<select id="rsv_busstoplist" resultType="bmRoutNodeInfoVO">
		SELECT DISTINCT
			  STA.STA_ID					AS NODE_ID
		    , IF(NM.KR_NM IS NULL || NM.KR_NM = '', STA.STA_NM, NM.KR_NM) AS NODE_NM
		    , '1'							AS 'NODE_TYPE'
		    , '30'							AS 'RANGE'
		    , TRUNCATE(LONGI, 6)			AS X
		    , TRUNCATE(LATI, 6)				AS Y
		    , NM.EN_NM						AS NODE_ENAME
		FROM
			BM_STA_INFO STA
		    LEFT JOIN BM_STA_NM_INFO NM
		    ON STA.STA_ID = NM.STA_ID
		
		UNION ALL
		
		SELECT DISTINCT
			  ORGA_ID				AS NODE_ID
		    , ORGA_NM				AS NODE_NM
		    , '898'					AS 'NODE_TYPE'
		    , '30'					AS 'RANGE'
		    , TRUNCATE(LONGI, 6)	AS X
		    , TRUNCATE(LATI, 6)		AS Y
		    , NULL					AS NODE_ENAME
		FROM
			BM_VOC_ORGA
	</select>
	
	<select id="BM0107G2S3" resultType="bmRoutInfoVO">
		SELECT
			INFO.ROUT_ID	AS ROUT_ID
		FROM
			BM_ROUT_INFO INFO
		    LEFT JOIN (SELECT
						  ROUT_ID
						, COUNT(*) AS 'CNT'
					FROM
						BM_ROUT_NODE_INFO
					GROUP BY ROUT_ID) NODE
			ON INFO.ROUT_ID = NODE.ROUT_ID
		WHERE
			NODE.CNT IS NOT NULL
	</select>
	
	<select id="rsv_routenode" parameterType="String" resultType="bmRoutNodeInfoVO">
		SELECT
			NODE_ID	AS NODE_ID
		FROM
			BM_ROUT_NODE_INFO
		WHERE
			ROUT_ID = #{value}
		ORDER BY SEQ
	</select>
	
	<select id="selectVoiceOrganization" parameterType="voiceOrganizationVO" resultMap="orgaList">
    	SELECT
			  ORGA_ID		AS orgaId
			, ROUT_ID		AS routId
		FROM
			BM_VOC_ORGA
		WHERE
			ROUT_ID = #{routId}
    </select>
    
    <select id="selectVoiceOrganizationVoiceList" parameterType="voiceOrganizationVO" resultType="voiceInfoVO">
    	SELECT
    		  O.VOC_ID
    		, O.SEQ
    		, CAST(D.NUM_VAL4 AS INTEGER) AS VOC_CODE
    		, V.PLAY_TYPE
    		, DATE_FORMAT(V.PLAY_ST_DATE, '%Y%m%d') AS PLAY_ST_DATE
    		, DATE_FORMAT(V.PLAY_ED_DATE, '%Y%m%d') AS PLAY_ED_DATE
    		, IFNULL(V.SCR_TXT, '') AS SCR_TXT
    		, IFNULL(V.SCR_TXT_EN, '') AS SCR_TXT_EN

    	FROM
    		BM_VOC_ORGA_LIST O
    		LEFT OUTER JOIN BM_VOC_INFO V
    		ON O.VOC_ID = V.VOC_ID
    		LEFT OUTER JOIN SM_DL_CD_INFO D
    		ON V.VOC_DIV = D.DL_CD
    		AND D.CO_CD = 'VOC_DIV'
    	WHERE
    		O.ORGA_ID = #{orgaId}
    		AND V.PLAY_ED_DATE >= DATE_FORMAT(NOW(), '%Y-%m-%d')
    	ORDER BY O.SEQ
    
    </select>
</mapper>